body {
  background: #3eadcf;
}

.wind-stick {
  width: 300px;
  height: 453px;
  margin: auto;
  margin-top: 75px;
  z-index: 4;
  position: relative;
}

.wind-stick * {
  position: absolute;
}

.head {
  width: 100%;
  height: 45%;
  animation: 3s linear infinite rotate;
}

.mid {
  background: #ffffff;
  width: 25%;
  height: 15%;
  border-radius: 50%;
  top: 15%;
  left: 35%;
}

.wings {
  width: 23%;
  height: 70%;
  border-radius: 70% 3% 45%;
  transform-origin: top left;
}

.wings:nth-child(1) {
  background: red;
  top: 55%;
  left: 33%;
  transform: rotate(180deg) scaleX(-1);
}

.wings:nth-child(2) {
  background: blue;
  left: 35%;
  top: 75%;
  transform: rotate(105deg) scaleX(-1);
}

.wings:nth-child(3) {
  background: yellow;
  left: 55%;
  top: 75%;
  transform: rotate(55deg) scaleX(-1);
}

.wings:nth-child(4) {
  background: green;
  right: 20%;
  top: 43%;
  transform: rotate(-45deg) scaleX(-1);
}

.wings:nth-child(5) {
  background: pink;
  right: 34%;
  top: 34%;
  transform: rotate(-105deg) scaleX(-1);
}

.stick {
  background: linear-gradient(89deg, #000000, #a55c1b);
  width: 2%;
  height: 66%;
  margin: auto;
  position: absolute;
  top: 26%;
  left: 45%;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }

  40% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(210deg);
  }

  80% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
