

/*@keyframes new{
0%{
	 background-position:0px;
}

100%{
	
	background-position:-2000px;
}
}*/
@keyframes newo{
0%{
	 background-position:0px;
	 
}

100%{
	
	background-position:-900px;
}
}
@keyframes thunder{
0%{
	background-color: skyblue;
	 
}

100%{
	opacity: 1;
	background-color: black;

}
}
body{

	animation-name: thunder;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

/*.p{
	height: 800px;
	width:180px;
	background: url(https://cdn-images-1.medium.com/max/1920/1*NKZQSXIK6Gk439058FlU4A.png);
	background-repeat:no-repeat;
	margin:0 auto;
}
.p:hover{
	animation:new 60s steps(9) infinite;
}*/
.b{
	height: 800px;
	width:180px;
	background: url('my.png');
	background-repeat:no-repeat;
	margin:0 auto;
	margin-top: -250px;
	animation:newo 0.5s steps(5) infinite;
}

.grass{
	margin-left: -10px;
	margin-right: -10px;
	background-color: green;
	height: 210px;
	margin-top: -285px;
}

.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -50px; left: auto; right: 15px;
}
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}