* { box-sizing: border-box;}
body, html { margin:0; background:#eee;}
.bk { 
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px; width: 100vw; height: 300px; margin: 0 auto; 
  position:relative; max-width: 300px;

  margin-top: -5vh;
}
.comp { 
  width: 80%;
  margin: 0 auto;
  text-align:center; 
  position: absolute;
  bottom:0;
  left:0;
  right:0;
} 
.monitor { 
  box-shadow: 0 0 1px #000;
  background:#ccc;
  width: 100%;
  height: 25vh;
  border-radius: 3vh; 
  display:flex;
  padding: 2vh;
}
.stem { width: 4vh; height: 2vh; margin: 0 auto;}
.base { width: 80%; height: 2vh; margin: 0 auto;}
.base:before, .stem:before { content:""; }
.screen {
  background:#000;
  
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  border-radius: 2vh; 
  box-shadow: 0 0 1px #000;
}
.screen:before { content: "";}
.screen1, .screen2, .screen3 {
  background-image: url('./css-art.png');
}
 

.mobile, .tablet {z-index:2; position:absolute;left:10px; width: 7vh; bottom:0; box-shadow: 0 1px 2px #000;  }
.tablet { width: 20vh;right:-2vh; left: auto;}
.mobile .monitor, .tablet .monitor { height:12vh; border-radius: .5vh; padding: .5vh;  }
.tablet .monitor { height: 16vh; }
.mobile .screen, .tablet .screen {
  border-radius:0;
}

.table { width:80%; margin:0 auto; background: rgb(122,40,5);
background: -moz-linear-gradient(90deg, rgba(122,40,5,1) 0%, rgba(107,78,23,1) 50%, rgba(119,81,29,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(122,40,5,1) 0%, rgba(107,78,23,1) 50%, rgba(119,81,29,1) 100%);
background: linear-gradient(90deg, rgba(122,40,5,1) 0%, rgba(107,78,23,1) 50%, rgba(119,81,29,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a2805",endColorstr="#77511d",GradientType=1); height: 3vh;

bottom: -3vh;
position: absolute;
left: -100%;
right: 100%;
width: 300%;
}

.table:before { content:"";}






.monitor, .base, .stem {
 background: rgb(149,149,149);
background: -moz-linear-gradient(90deg, rgba(149,149,149,1) 0%, rgba(193,193,193,1) 35%, rgba(153,153,153,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(149,149,149,1) 0%, rgba(193,193,193,1) 35%, rgba(153,153,153,1) 100%);
background: linear-gradient(90deg, rgba(149,149,149,1) 0%, rgba(193,193,193,1) 35%, rgba(153,153,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#959595",endColorstr="#999999",GradientType=1);
}

.tablet .monitor, .mobile .monitor {
  border: 1px solid #000;
 background: rgb(74,74,74);
background: -moz-radial-gradient(circle, rgba(74,74,74,1) 0%, rgba(87,87,87,1) 35%, rgba(70,70,70,1) 100%);
background: -webkit-radial-gradient(circle, rgba(74,74,74,1) 0%, rgba(87,87,87,1) 35%, rgba(70,70,70,1) 100%);
background: radial-gradient(circle, rgba(74,74,74,1) 0%, rgba(87,87,87,1) 35%, rgba(70,70,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a4a4a",endColorstr="#464646",GradientType=1);
}


.flex-body { 
  display:flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.flex-item{ flex:1; }