body {
}
@keyframes square1 {
  from {background-color: skyblue;}
  to {background-color: purple;}
}
@keyframes square2 {
  from {background-color: white;}
  to {background-color: pink;}
}
@keyframes square3 {
  from {background-color: pink;}
  to {background-color: yellow;}
}
@keyframes square4 {
  from {background-color: yellow;}
  to {background-color: cyan;}
}
@keyframes circle1 {
  from {background-color: lawngreen;}
  to {background-color: orangered;}
}

.square1 {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-right: 2%;
    animation-name: square1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-top-left-radius: 100%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.square2 {
    width: 300px;
    height: 300px;
    background-color: purple;
    animation-name: square2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-top-right-radius: 100%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.square3 {
    width: 300px;
    height: 300px;
    background-color: pink;
    margin-right: 2%;
    animation-name: square3;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.square4 {
    width: 300px;
    height: 300px;
    background-color: yellow;
    animation-name: square4;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.squares {
    display: flex;
    padding: 1%;
    width: 45%;
    background-color: blue;


}

.circle1 {
    width: 300px;
    height: 300px;
    background-color: lawngreen;
    border-radius: 50%;
    animation-name: circle1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
    
}

.circle {
    position: absolute;
    top: 28%;
    left: 13%;
    
}



