img {
	position: absolute;
	top: 25%;
	left: 40%;
	height: 200px;
	width: 200px;
	animation: rotation 2s infinite linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}