html, body {
    background-color: bisque;
}

.heart {
    margin-top: 25vh;
    text-align: center;
    animation: pulse 2s infinite;
}

img {
    height: 300px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.2);
    }

    20% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1.3);
    }

    45% {
        transform: scale(1);
    }

    
}