.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button {
    width: 10vw;
    height: 5vh;
    border-radius: 15px;
    animation: pulse 5s infinite;
}

#button:hover {
    animation: grow 5s infinite;
}

@keyframes pulse {
    0% {
      background-color: #FFF3AA;
    }
    50% {
      background-color: #79710a;
    }
    100% {
        background-color: #FFF3AA;
      }
  }

  @keyframes grow {
      0% {
        width: 10vw;
        height: 5vh; 
      }
      50% {
          width: 15vw;
          height: 10vh;
      }
      100% {
        width: 10vw;
        height: 5vh; 
      }
  }