body {
    margin: 0;
    padding: 0;
    font-family: serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #65E73C;
    }
    
    .image{
    content: '';
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    img:hover{
    animation: rotate 1s linear;
    }
    
    @keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    }
