body {
  background-color: #777474;
}

.pumpkin {
  box-shadow: 330px 120px 0 0 #7d7d30, 360px 120px 0 0 #7d7d30,
    390px 120px 0 0 #7d7d30, 330px 150px 0 0 #7d7d30, 360px 150px 0 0 #7d7d30,
    240px 180px 0 0 #3d3d3d, 270px 180px 0 0 #3d3d3d, 300px 180px 0 0 #7d7d30,
    330px 180px 0 0 #7d7d30, 360px 180px 0 0 #7d7d30, 390px 180px 0 0 #3d3d3d,
    420px 180px 0 0 #3d3d3d, 180px 210px 0 0 #3d3d3d, 210px 210px 0 0 #3d3d3d,
    240px 210px 0 0 #ff7619, 270px 210px 0 0 #ff7619, 300px 210px 0 0 #7d7d30,
    330px 210px 0 0 #7d7d30, 360px 210px 0 0 #7d7d30, 390px 210px 0 0 #ff7619,
    420px 210px 0 0 #ff7619, 450px 210px 0 0 #3d3d3d, 480px 210px 0 0 #3d3d3d,
    150px 240px 0 0 #3d3d3d, 180px 240px 0 0 #ff7619, 210px 240px 0 0 #ff7619,
    240px 240px 0 0 #ff7619, 270px 240px 0 0 #ff7619, 300px 240px 0 0 #ff7619,
    330px 240px 0 0 #ff7619, 360px 240px 0 0 #ff7619, 390px 240px 0 0 #ff7619,
    420px 240px 0 0 #ff7619, 450px 240px 0 0 #ff7619, 480px 240px 0 0 #ff7619,
    510px 240px 0 0 #3d3d3d, 120px 270px 0 0 #3d3d3d, 150px 270px 0 0 #ff7619,
    180px 270px 0 0 #ff7619, 210px 270px 0 0 #ff7619, 240px 270px 0 0 #ff7619,
    270px 270px 0 0 #ff7619, 300px 270px 0 0 #ff7619, 330px 270px 0 0 #ff7619,
    360px 270px 0 0 #ff7619, 390px 270px 0 0 #ff7619, 420px 270px 0 0 #ff7619,
    450px 270px 0 0 #ff7619, 480px 270px 0 0 #ff7619, 510px 270px 0 0 #ff7619,
    540px 270px 0 0 #3d3d3d, 90px 300px 0 0 #3d3d3d, 120px 300px 0 0 #ff7619,
    150px 300px 0 0 #ff7619, 180px 300px 0 0 #ff7619, 210px 300px 0 0 #ff7619,
    240px 300px 0 0 #000000, 270px 300px 0 0 #ff7619, 300px 300px 0 0 #ff7619,
    330px 300px 0 0 #ff7619, 360px 300px 0 0 #ff7619, 390px 300px 0 0 #ff7619,
    420px 300px 0 0 #000000, 450px 300px 0 0 #ff7619, 480px 300px 0 0 #ff7619,
    510px 300px 0 0 #ff7619, 540px 300px 0 0 #ff7619, 570px 300px 0 0 #3d3d3d,
    90px 330px 0 0 #3d3d3d, 120px 330px 0 0 #ff7619, 150px 330px 0 0 #ff7619,
    180px 330px 0 0 #ff7619, 210px 330px 0 0 #000000, 240px 330px 0 0 #000000,
    270px 330px 0 0 #000000, 300px 330px 0 0 #ff7619, 330px 330px 0 0 #ff7619,
    360px 330px 0 0 #ff7619, 390px 330px 0 0 #000000, 420px 330px 0 0 #000000,
    450px 330px 0 0 #000000, 480px 330px 0 0 #ff7619, 510px 330px 0 0 #ff7619,
    540px 330px 0 0 #ff7619, 570px 330px 0 0 #3d3d3d, 90px 360px 0 0 #3d3d3d,
    120px 360px 0 0 #ff7619, 150px 360px 0 0 #ff7619, 180px 360px 0 0 #ff7619,
    210px 360px 0 0 #ff7619, 240px 360px 0 0 #ff7619, 270px 360px 0 0 #ff7619,
    300px 360px 0 0 #ff7619, 330px 360px 0 0 #ff7619, 360px 360px 0 0 #ff7619,
    390px 360px 0 0 #ff7619, 420px 360px 0 0 #ff7619, 450px 360px 0 0 #ff7619,
    480px 360px 0 0 #ff7619, 510px 360px 0 0 #ff7619, 540px 360px 0 0 #ff7619,
    570px 360px 0 0 #3d3d3d, 90px 390px 0 0 #3d3d3d, 120px 390px 0 0 #ff7619,
    150px 390px 0 0 #ff7619, 180px 390px 0 0 #000000, 210px 390px 0 0 #000000,
    240px 390px 0 0 #ff7619, 270px 390px 0 0 #000000, 300px 390px 0 0 #ff7619,
    330px 390px 0 0 #ff7619, 360px 390px 0 0 #ff7619, 390px 390px 0 0 #000000,
    420px 390px 0 0 #ff7619, 450px 390px 0 0 #000000, 480px 390px 0 0 #000000,
    510px 390px 0 0 #ff7619, 540px 390px 0 0 #ff7619, 570px 390px 0 0 #3d3d3d,
    90px 420px 0 0 #3d3d3d, 120px 420px 0 0 #ff7619, 150px 420px 0 0 #ff7619,
    180px 420px 0 0 #ff7619, 210px 420px 0 0 #000000, 240px 420px 0 0 #000000,
    270px 420px 0 0 #000000, 300px 420px 0 0 #000000, 330px 420px 0 0 #000000,
    360px 420px 0 0 #000000, 390px 420px 0 0 #000000, 420px 420px 0 0 #000000,
    450px 420px 0 0 #000000, 480px 420px 0 0 #ff7619, 510px 420px 0 0 #ff7619,
    540px 420px 0 0 #ff7619, 570px 420px 0 0 #3d3d3d, 90px 450px 0 0 #3d3d3d,
    120px 450px 0 0 #ff7619, 150px 450px 0 0 #ff7619, 180px 450px 0 0 #ff7619,
    210px 450px 0 0 #ff7619, 240px 450px 0 0 #000000, 270px 450px 0 0 #ff7619,
    300px 450px 0 0 #000000, 330px 450px 0 0 #000000, 360px 450px 0 0 #000000,
    390px 450px 0 0 #ff7619, 420px 450px 0 0 #000000, 450px 450px 0 0 #ff7619,
    480px 450px 0 0 #ff7619, 510px 450px 0 0 #ff7619, 540px 450px 0 0 #ff7619,
    570px 450px 0 0 #3d3d3d, 120px 480px 0 0 #3d3d3d, 150px 480px 0 0 #ff7619,
    180px 480px 0 0 #ff7619, 210px 480px 0 0 #ff7619, 240px 480px 0 0 #ff7619,
    270px 480px 0 0 #ff7619, 300px 480px 0 0 #ff7619, 330px 480px 0 0 #ff7619,
    360px 480px 0 0 #ff7619, 390px 480px 0 0 #ff7619, 420px 480px 0 0 #ff7619,
    450px 480px 0 0 #ff7619, 480px 480px 0 0 #ff7619, 510px 480px 0 0 #ff7619,
    540px 480px 0 0 #3d3d3d, 150px 510px 0 0 #3d3d3d, 180px 510px 0 0 #ff7619,
    210px 510px 0 0 #ff7619, 240px 510px 0 0 #ff7619, 270px 510px 0 0 #ff7619,
    300px 510px 0 0 #ff7619, 330px 510px 0 0 #ff7619, 360px 510px 0 0 #ff7619,
    390px 510px 0 0 #ff7619, 420px 510px 0 0 #ff7619, 450px 510px 0 0 #ff7619,
    480px 510px 0 0 #ff7619, 510px 510px 0 0 #3d3d3d, 180px 540px 0 0 #3d3d3d,
    210px 540px 0 0 #3d3d3d, 240px 540px 0 0 #ff7619, 270px 540px 0 0 #ff7619,
    300px 540px 0 0 #ff7619, 330px 540px 0 0 #ff7619, 360px 540px 0 0 #ff7619,
    390px 540px 0 0 #ff7619, 420px 540px 0 0 #ff7619, 450px 540px 0 0 #3d3d3d,
    480px 540px 0 0 #3d3d3d, 240px 570px 0 0 #3d3d3d, 270px 570px 0 0 #3d3d3d,
    300px 570px 0 0 #3d3d3d, 330px 570px 0 0 #3d3d3d, 360px 570px 0 0 #3d3d3d,
    390px 570px 0 0 #3d3d3d, 420px 570px 0 0 #3d3d3d;
  height: 30px;
  width: 30px;
}
