.container{
    display: grid;
    background-color: black;
    padding: 10px;
    justify-content: center;
    grid-template-columns: repeat(11, 3em);
    grid-template-rows: repeat(9, 3em);
    
}

.filled{
    background-color: greenyellow;
    animation: shapeshift 3s 1;
}

.eye{
    animation: blink 1.5s 4;
    background-color:black;
}

.container:hover > .eye {
    animation: angry 1s infinite;
}

.r1c3 {
    grid-row: 1;
    grid-column: 3;
  }
.r1c9{
    grid-row: 1;
    grid-column: 9;
}

.r2c4{
    grid-row: 2;
    grid-column: 4;
}
.r2c8{
    grid-row: 2;
    grid-column: 8;
}

.r3{
    grid-row: 3;
    grid-column: 3 / 10;
}

.r4c2{
    grid-row: 4;
    grid-column: 2 / 4;
}
.r4c5{
    grid-row: 4;
    grid-column: 5 / 8;
}
.r4c9{
    grid-row: 4;
    grid-column: 9 / 11;
}

.leye{
    grid-row: 4;
    grid-column: 4;
}

.reye{
    grid-row: 4;
    grid-column: 8;
}

.r5{
    grid-row: 5;
    grid-column: 1 / 12;
}

.r6c1{
    grid-row: 6;
    grid-column: 1;
}
.r6c3{
    grid-row: 6;
    grid-column: 3 / 10;
}
.r6c11{
    grid-row: 6;
    grid-column: 11;
}

.r7c1{
    grid-row: 7;
    grid-column: 1;
}
.r7c3{
    grid-row: 7;
    grid-column: 3;
}
.r7c9{
    grid-row: 7;
    grid-column: 9;
}
.r7c11{
    grid-row: 7;
    grid-column: 11;
}

.r8c4{
    grid-row: 8;
    grid-column: 4 / 6;
}
.r8c7{
    grid-row: 8;
    grid-column: 7 / 9;
}

/* animations */
@keyframes shapeshift {
    0% {
        border-radius: 100%;
        transform: scale(0.001);
        background-color:black;
      }
    50%{
        background-color:green;
    }
    100%{
        background-color:greenyellow;
    }

}

@keyframes blink{
    0%{
        background-color:greenyellow;
    }
}

@keyframes angry {
    0% {
        border-radius: 100%;
        transform: scale(0.001);
        background-color:black;
      }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }

}