body{
	background:#25A9FC;
}
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height:420px;
  background: none;
  border: solid 20px white;
}
.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}
.head-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}
.ear-left{
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.ear-right{
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.inner-ear{
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #819CAF;
}
.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}
.eye-right{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 2;
}
.pupil{
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}
.nose{
  position: absolute;
  background: black;
  width: 25%;
  height: 42.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px;
  z-index: 4;
}
.hair-left{
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hair-right{
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.smile{ position: absolute;
  top: 50.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: white;
  border-radius: 50%;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  z-index: 3;
  transform: rotate(270deg);
}

.stem{position: absolute;
  top: 80.5%;
  left: 75%;
  width: 5%;
  height: 45%;
  background: #70D700;
  border-radius:0%;
  z-index: 4;
  transform: rotate(-45deg);
}

.leaf-shadow1{position: absolute;
  top: 90.5%;
  left: 45%;
  width: 35%;
  height: 35%;
  background: green;
  -webkit-clip-path: ellipse(16% 42% at 50% 50%);
clip-path: ellipse(16% 42% at 50% 50%);
z-index: 3;
transform:rotate(25deg);
}

.leaf1{position: absolute;
  top: 90.5%;
  left: 47%;
  width: 35%;
  height: 35%;
  background: #70D700;
  -webkit-clip-path: ellipse(16% 42% at 50% 50%);
clip-path: ellipse(16% 42% at 50% 50%);
z-index: 4;
transform:rotate(25deg);
}

.leaf-shadow2{position: absolute;
  top: 89.5%;
  left: 73%;
  width: 35%;
  height: 35%;
  background: green;
  -webkit-clip-path: ellipse(16% 42% at 50% 50%);
clip-path: ellipse(16% 42% at 50% 50%);
z-index: 3;
transform:rotate(-75deg);
}

.leaf2{position: absolute;
  top: 90.5%;
  left: 73%;
  width: 35%;
  height: 35%;
  background: #70D700;
  -webkit-clip-path: ellipse(16% 42% at 50% 50%);
clip-path: ellipse(16% 42% at 50% 50%);
z-index: 4;
transform:rotate(-75deg);
}

.eyebrow1{position: absolute;
  top: 10.5%;
  left: 65%;
  width: 5%;
  height: 30%;
  background: #819CAF;
  border-radius:0%;
  z-index: 4;
  transform: rotate(-70deg);
}

.eyebrow2{position: absolute;
  top: 10.5%;
  left: 30%;
  width: 5%;
  height: 30%;
  background: #819CAF;
  border-radius:0%;
  z-index: 4;
  transform: rotate(70deg);
}
