body {
	background: grey;
	font-family: sans-serif;
}
.container {
	margin: 20rem auto;
	text-align: center;
}

h1 { 
	color: orange;
	letter-spacing: 4px;
	font-size: 40px;
	transition: all 1s ease-in;
	animation-name: animate;
	animation-duration: 4s;

	animation-iteration-count: infinite;
}

@keyframes animate {
	10% {font-size: 35px;}
	40% { font-size: 20px;
	100%{ font-size: 65px;}
}