.penguin {

    --penguin-skin: black;
    --penguin-belly: white;
    --penguin-beak: orange;

    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
}

.penguin-top {
    top: 10%;
    left: 25%;
    background: var(--penguin-skin, gray);
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
}

.penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: var(--penguin-skin, gray);
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
}

.right-hand {
    top: 0;
    left: -5%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(45deg);
    z-index: -1;
    animation: moving-hand 4s infinite;
}

@keyframes moving-hand {
    0% {
        top: 0;
    }

    50% {
        top: -50px;
    }

    100% {
        top: 0;
    }
}

.left-hand {
    top: 0;
    left: 75%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
    animation: moving-hand 4s infinite;
}

.right-cheek {
    top: 15%;
    left: 35%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
}

.left-cheek {
    top: 15%;
    left: 5%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
}

.belly {
    top: 60%;
    left: 2.5%;
    background: var(--penguin-belly, white);
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
}

.right-feet {
    top: 85%;
    left: 60%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
    animation:spin 4s linear infinite;
}

.left-feet {
    top: 85%;
    left: 25%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
    animation:spin 4s linear infinite;
}

.right-eye {
    top: 45%;
    left: 60%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
}

.left-eye {
    top: 45%;
    left: 25%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
}

.sparkle {
    top: 25%;
    left: 25%;
    background: white;
    height: 38%;
    width: 38%;
    border-radius: 50%;
    animation:spin 4s linear infinite;
}

.blush-right {
    top: 65%;
    left: 15%;
    background: rgb(209, 55, 81);
    width: 15%;
    height: 10%;
    border-radius: 50%;
}

.blush-left {
    top: 65%;
    left: 70%;
    background: rgb(209, 55, 81);
    width: 15%;
    height: 10%;
    border-radius: 50%;
}

.beak-top {
    top: 60%;
    left: 40%;
    background: var(--penguin-beak, orange);
    width: 20%;
    height: 10%;
    border-radius: 50%;
}

.beak-bottom {
    top: 65%;
    left: 42%;
    background: var(--penguin-beak, orange);
    width: 16%;
    height: 10%;
    border-radius: 50%;
}

body {
    background-image: url("https://wallpapercave.com/wp/l5yTut4.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.penguin * {
    position: absolute;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}