/* centering the android icon */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* using a little svg animation trick, the stroke-dasharray & stroke-dashoffset might need to be changed if you want to implement it on another svg */
 .svg-android {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    stroke: black;
    stroke-width: 4px;
    animation: dash 3s linear forwards;
}

/* keyframes to animate the stroke-dashoffset */
@keyframes dash {
    to {
      stroke-dashoffset: 0; 
    } 
}

