body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 300px;
  width: 300px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 222, 129, 1) 0%,
    rgba(255, 120, 211, 1) 100%
  );
}

.phone {
  background-color: black;
  height: 200px;
  width: 120px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  background-color: antiquewhite;
  height: 190px;
  width: 110px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.top-cam {
  background-color: black;
  width: 5px;
  height: 5px;
  border: 2px solid gray;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.notification-bar {
  background-color: transparent;
  font-size: 0.5rem;
  float: left;
  width: 50%;
  height: 15px;
  margin-top: 4px;
  margin-left: 30px;
  margin-right: 5px;
  text-align: center;
}

.battery {
  font-size: 8px;
  margin-top: 3px;
  float: left;
}

.application1 {
  background: rgb(99, 189, 147);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application2 {
  background: rgb(240, 85, 85);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application3 {
  background: rgb(110, 110, 110);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application4 {
  background: rgb(81, 81, 156);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application5 {
  background: rgb(134, 87, 33);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application6 {
  background: rgb(230, 125, 216);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application7 {
  background: rgb(59, 196, 143);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.application8 {
  background: rgb(131, 156, 60);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin: 10px 5px 0 5px;
  float: left;
}

.nav {
  width: 100%;
  height: 20px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}
