body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #27374d;
  overflow: hidden;
}

.canvas {
  width: 90vmin;
  height: 70vmin;
  border: 0.5vmin solid white;
  outline: 100vh solid #27374d;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.controller {
  /* border: 2px solid red; */
  width: 50vmin;
  aspect-ratio: 1;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: shake 100ms infinite ease-in-out alternate;
}

@keyframes shake {
  20%,
  30% {
    transform: rotate(1deg);
  }
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(0deg);
  }
}

.main {
  width: 40vmin;
  height: 15vmin;
  background-color: #9db2bf;
  border-radius: 35%;
  display: flex;
  position: absolute;
  margin: auto;
  bottom: 17vmin;
  right: 3vmin;
  transform: rotate(4deg);
}
.logo {
  width: 4.5vmin;
  height: 4.5vmin;
  border-radius: 50%;
  background-color: #1a1a40;
  border: 0.2vmin solid white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 2vmin;
  color: #54b435;
  font-weight: 800;
  padding: 0;
  font-size: 4vmin;
  text-align: center;
  vertical-align: super;
  line-height: 0.7;
  animation: logo 900ms infinite ease-in-out alternate;
}
@keyframes logo {
  50%,
  75%,
  100% {
    color: #66ff00;
    transform: rotate(180deg);
  }
}

.main::before {
  content: '';
  width: 6vmin;
  height: 2vmin;
  background-color: #474e68;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  position: absolute;
  transform: rotate(-17deg);
  left: 2vmin;
  top: -0.8vmin;
}

.main::after {
  content: '';
  width: 6vmin;
  height: 2vmin;
  background-color: #474e68;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  position: absolute;
  right: 2.5vmin;
  top: -0.8vmin;
  transform: rotate(17deg);
}
.left-keys {
  width: 50%;
  height: auto;
  /* border:2px solid yellow; */
  position: relative;
}
.joystick {
  width: 5vmin;
  height: 5vmin;
  background-color: #282a3a;
  border-radius: 50%;
}

.left-joystick {
  position: absolute;
  left: 2.5vmin;
  top: 3vmin;
  box-shadow: 0 0.3vmin orange;
  animation: rotateJ 2s infinite;
}

.D-pad {
  width: 6.5vmin;
  height: 6.5vmin;
  background-color: #282a3a;
  position: absolute;
  right: 5vmin;
  bottom: 2vmin;
  clip-path: polygon(
    0 33%,
    35% 33%,
    35% 0%,
    65% 0%,
    65% 33%,
    100% 33%,
    100% 63%,
    65% 63%,
    65% 100%,
    35% 100%,
    35% 63%,
    0 63%
  );
  transform: rotate(-2.9deg);
}

.right-joystick {
  position: absolute;
  bottom: 3vmin;
  left: 2.5vmin;
  box-shadow: 0 0.3vmin purple;
}
.right-keys {
  width: 50%;
  height: auto;
  /* border:2px solid green; */
  position: relative;
}
.action-keys {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-weight: 500px;
  color: white;
}
.x-button {
  position: absolute;
  top: 2vmin;
  right: 5vmin;
  background-color: orange;
}
.y-button {
  position: absolute;
  top: 5vmin;
  right: 8vmin;
  background-color: purple;
}
.b-button {
  position: absolute;
  bottom: 4vmin;
  right: 5vmin;
  background-color: purple;
}

.a-button {
  position: absolute;
  top: 5vmin;
  right: 2vmin;
  background-color: orange;
}
.arms {
  width: 13vmin;
  height: 17vmin;
  background-color: #526d82;
  border-radius: 51% 49% 0% 100% / 100% 100% 0% 0%;
}
.left-arm {
  position: absolute;
  bottom: 3.1vmin;
  left: 3vmin;
  transform: rotate(203deg);
  border-bottom: 0.9vmin solid orange;
  animation: colorL 2s infinite alternate;
}
@keyframes colorL {
  100% {
    border-bottom-color: purple;
  }
}

.right-arm {
  position: absolute;
  bottom: 1vmin;
  right: 0.8vmin;
  transform: rotate(-195deg);
  border-bottom: 0.9vmin solid purple;
  animation: colorR 2s infinite alternate;
}

@keyframes colorR {
  100% {
    border-bottom-color: orange;
  }
}

.background {
  position: absolute;
  background-color: #faeab1;
  width: 102%;
  height: 40vmin;
  left: -0.5vmin;
  bottom: -19%;
  transform: rotate(-3deg);
  border-radius: 75%;
  z-index: -10;
}
