body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:radial-gradient(#00ff00,#005a00);

  }
  .green-heart{
    position:relative;
    width:200px;
    height:200px;
    background:#02e802;
    transform:rotate(45deg);
        box-shadow:50px 50px 300px rgba(0,0,0,.8);
    animation:animate 1s linear infinite
  }
  @keyframes animate{
    0%{
      transform:rotate(45deg) scale(1)
    }
      20%{
      transform:rotate(45deg) scale(0.8)
    }
      40%{
      transform:rotate(45deg) scale(1.2)
    }
      60%{
      transform:rotate(45deg) scale(1.3)
    }
    100%{
      transform:rotate(45deg) scale(1)
    }
  }
  .green-heart:before{
    content:'';
    position:absolute;
    width:200px;
    height:100px;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
    background:#02e802;
    top:-100px;
  }
  .green-heart:after{
    content:'';
    position:absolute;
    width:100px;
    height:200px;
    border-top-left-radius:100px;
    border-bottom-left-radius:100px;
    background:#02e802;
    left:-100px;
  }
