body {
	background: linear-gradient(to right, rgba(103, 38, 17,0.8), rgba(212, 112, 53,0.8));
	color: #05082d;
	padding-top: 80px;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display: flex;
	justify-content: center;
}

.android{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg{
	 background-color:#9E3F09;
}

.head_baby, 
.left_arm_baby, 
.torso_baby, 
.right_arm_baby, 
.left_leg_baby, 
.right_leg_baby{
	 background-color: #F5A617;
}

.head_two, 
.left_arm_two, 
.torso_two, 
.right_arm_two, 
.left_leg_two, 
.right_leg_two {
	 background-color: #E94809;
}

.baby{
	margin-top: 130px;
	margin-right: -80px;
    margin-left: -80px;
}


.head { 
	width: 160px; 
	margin: 0 auto; 
	height: 160px; 
	border-radius: 200px 200px 200px 200px; 
	margin-bottom: 5px;
} 

.head_baby { 
	width: 140px; 
	margin: 0 auto; 
	height: 140px; 
	border-radius: 200px 200px 200px 200px; 
	margin-bottom: 5px;
} 

.eyes {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
	margin-bottom: 20px;
	margin-top: 60px;
}

.head:hover {
	width: 180px;
	height: 180px;
    transition: 0.75s ease-in-out;
    background-color: #2A0F00;
}

.head_baby:hover {
	width: 160px;
	height: 160px;
    transition: 0.75s ease-in-out;
    background-color: #2A0F00;
}




.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
	justify-content: center; 

} 

.upper_body_baby { 
	width: 200px; 
	height: 100px;
	display: flex; 
	justify-content: center; 

} 

.left_arm, .right_arm { 
	width: 20px; 
	height: 145px;
	border-radius: 100px; 

} 

.left_arm_baby, .right_arm_baby { 
	width: 15px; 
	height: 105px;
	border-radius: 100px; 

} 

.left_arm { 
	/*transform: rotate(20deg);*/
	margin-right: 10px;
	transform: rotate(20deg);
	transition: 1s ease-in-out; 
	transform-origin: top;
} 

.left_arm:hover {
	-webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.left_arm_two:hover {
	-webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(0deg);
}



.right_arm { 
	margin-left: 10px;
	transform: rotate(-20deg); 
	transition: 1s ease-in-out;
	transform-origin: top;
} 

.right_arm:hover {
	-webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    transform: rotate(-120deg);
}

.right_arm_two:hover {
	-webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}


.torso { 
	width: 30px; 
	height: 250px;
	border-radius: 50px 50px 50px 50px; 
} 

.torso_baby { 
	width: 15px; 
	height: 150px;
	border-radius: 50px 50px 50px 50px; 
} 

/*.torso:hover{
	transition: transform 400ms ease-in-out;
	transform: scaleX(1.2);
}
*/
.lower_body { 
	width: 200px; 
	height: 120px;
	display: flex;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	margin-top: 30px;

} 

/*.lower_body_baby{
	width: 100px;
}
*/
.skirt{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 80px 150px 80px;
	border-color: transparent transparent #E94809 transparent;
	margin-top: -70px;
	margin-left: -110px;
}

.left_leg, .right_leg { 
	width: 20px; 
	height: 150px;
	border-radius: 100px 100px 100px 100px; 
	margin-top: 30px;
} 

.left_leg_baby, .right_leg_baby { 
	width: 15px; 
	height: 120px;
	border-radius: 100px 100px 100px 100px; 
	margin-top: 0px;
} 

.left_leg_baby {
	margin-left: 78px;
}

.left_leg { 
	margin-left: 70px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
	transition: transform 100ms ease-in-out;
}

.right_leg { 
	margin-left: 20px; 
}

.right_leg_baby {
	margin-left: 15px;
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
	transition: transform 100ms ease-in-out;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: black;  
} 

/*.one{
	margin-left: 50px;
}*/

/*.two{
	margin-left: -125px;
}*/







