/***** BASE STYLES ************/
html,
body {
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
	background: gray;
}

/***** BOX STYLES ************/

.box {
	position: relative;
	margin: auto;
	display: block;
	border: white solid 4px;
	width: 400px;
	height: 400px;
	top: 20%;
}

/***** CAT FACE STYLES ************/

.head {
	position: absolute;
	top: 16.5%;
	left: 20%;
	width: 60%;
	height: 50%;
	border-radius: 50%;
	background: black;
	z-index: 1;
}


.head-copy {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: black;
	z-index: 2;
}


.ear-left {
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 40%;
	height: 40%;
	top: -5%;
	left: -11%;
	background: black;
	transform: rotate(-30deg);
	z-index: 1;
}


.ear-right {
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 40%;
	height: 40%;
	top: -5%;
	right: -11%;
	background: black;
	transform: rotate(30deg);
	z-index: 1;
}

.inner-left {
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 30%;
	height: 30%;
	top: -1%;
	left: -1%;
	background: pink;
	transform: rotate(-30deg);
}

.eye-left {
	position: absolute;
	background: white;
	border-radius: 50%;
	width: 30%;
	height: 35%;
	top: 35%;
	left: 18%;
	z-index: 3;
}

.eye-right {
	position: absolute;
	background: white;
	border-radius: 50%;
	width: 30%;
	height: 35%;
	top: 35%;
	right: 18%;
	z-index: 2;
}

.pupil {
	position: absolute;
	width: 70%;
	height: 70%;
	background: black;
	border-radius: 50%;
	top: 20%;
	left: 18%;
}

.nose {
	width: 10%;
	height: 10%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: pink;
	position: absolute;
	z-index: 4;
	top: 72%;
	left: 45%;
	transform: rotate(60deg);
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-radius: 50px;
}

.whisker {
	position: absolute;
	border: pink solid 1px;
	width: 20%;
	transform: rotate(10deg);
	z-index: 4;
	top: 75%;
	left: 26%;
}

.whisker-two {
	position: absolute;
	border: pink solid 1px;
	width: 20%;
	transform: rotate(-10deg);
	z-index: 4;
	top: 80%;
	left: 26%;
}

.whisker-three {
	position: absolute;
	border: pink solid 1px;
	width: 20%;
	transform: rotate(-10deg);
	z-index: 4;
	top: 75%;
	right: 28%;
}

.whisker-four {
	position: absolute;
	border: pink solid 1px;
	width: 20%;
	transform: rotate(10deg);
	z-index: 4;
	top: 80%;
	right: 28%;
}

.bow {
	width: 20%;
	height: 30%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: pink;
	position: absolute;
	z-index: 4;
	top: 10%;
	left: -5%;
	transform: rotate(60deg);
}

.bow-two {
	width: 20%;
	height: 30%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: pink;
	position: absolute;
	z-index: 4;
	top: 2%;
	left: 5%;
	transform: rotate(-130deg);
}

/***** CAT PAW STYLES ************/

.left-paw {
	position: absolute;
	width:27%;
	height:50%;
	background:black;
	top:85%;
	left:-10%;
	transform: rotate(-50deg);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.left-paw:hover {
	-webkit-transform: rotateZ(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	transition:all 1s;
}

.paw-pad-one {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:20%;
	left:20%;
}

.paw-pad-two {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:15%;
	left:45%;
}

.paw-pad-three {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:23%;
	left:70%;
}

.paw-pad-four {
	position: absolute;
	background:white;
	width:60%;
	height:30%;
	border-radius:50%;
	z-index:3;
	top:45%;
	left:20%;
}

/***** CAT PAW STYLES ************/

.right-paw {
	position: absolute;
	width:27%;
	height:50%;
	background:black;
	top:85%;
	right:-10%;
	transform: rotate(50deg);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.right-paw:hover {
	-webkit-transform: rotateZ(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	transition:all 1s;
}

.paw-pad-one {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:20%;
	left:20%;
}

.paw-pad-two {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:15%;
	left:45%;
}

.paw-pad-three {
	position: absolute;
	background:white;
	width:20%;
	height:18%;
	border-radius:50%;
	z-index:3;
	top:23%;
	left:70%;
}

.paw-pad-four {
	position: absolute;
	background:white;
	width:60%;
	height:30%;
	border-radius:50%;
	z-index:3;
	top:45%;
	left:20%;
}

