body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow; /* Optional background color */
  }
  