body {
    background-color: snow;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20em;
}

.text {
    width: 50em;
    height: 30vh;
    background-color: #FF2D00;
    border-radius: 2%;  
    border: 4px solid whitesmoke;  
    display: flex;
    justify-content: center;
    animation: borderRadius 2s infinite;
}

.text span{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1em;    
    color: snow;
    align-self: center;
    animation: textSize 2s infinite;
}

/*keyFrames*/

@keyframes textSize{
    from {letter-spacing: -0.1em; font-size: 3.5rem;}
    to {letter-spacing: .2em; font-size: 5rem;}
}

@keyframes borderRadius{
    from {border-radius: 2%; width: 40em;}
    to {border-radius: 50%; width: 50em;}
}