*, *::after, *::before{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 800px;
    height: 600px;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px) contrast(20);
}

.first, .second{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first{
   left: 30%;
   animation: first 2s ease infinite;
}

.second{
    left: 70%;
    animation: second 2s ease infinite;
}

@keyframes first{
0%{ left: 30%}
50%{ left: 50%}
100%{left: 30%}
}

@keyframes second{
    0%{ left: 70% }
    50%{left: 50%}
    100%{ left: 70%}
    }