 body{
            background: linear-gradient(5deg,rgb(193, 133, 243) 25%,black 75%);
        }
        .present{
            width: 20px;
            height: 30px;
            position: absolute;
            background: linear-gradient(-50deg red,black,white);
            top: 50px;
            left: 0px;
            right: 0px;
            margin: auto;
            animation-name: anima;
            animation-duration: 5s;

        }
        .present::before{
            width: 20px;
            height: 30px;
            position: absolute;
            background-color: blue;
            margin: auto;
            content: "";
            bottom: 0;
            top: 0px;
            left: 20px;
            box-shadow: 10px 20px 10px 10px red;
            border-radius: 50%;
        }
        .present::after{
            width: 20px;
            content: "";
            height: 30px;
            top: 0px;
            bottom: 0px;
            left: 50px;
            position: absolute;
            background-color: blue;
            border-radius: 50%;
        }
        .present::backdrop{
            width: 20px;
            content: "";
            height: 30px;
            top: 0px;
            left: 40px;
            bottom: 30px;
            position: absolute;
            transform:rotate(-50deg);
            background-color: rebeccapurple;
            border-radius: 50%;

        }
        .earth{
            width: 50px;
            position: absolute;
            height: 50px;
            top: 50px;
            left: 20px;
            animation-name: revolve;
            animation-duration: 9s;
            animation-iteration-count: infinite;
            background:linear-gradient(45deg,green 25%,blue 75%);
            border-radius: 50%;
        }
        .sun{
            width: 200px;
            height: 200px;
            background:linear-gradient(45deg,  yellow ,rgb(241, 169, 35) ,rgb(163, 109, 8) ,red );
            /* background: black; */
            border-radius: 50%;
            position: absolute;
            top: 200px;
            margin: auto;
            left: -50px;
        }


        .sun::after{
            left: 300px;
            top: 0px;
            background: black;
            position: absolute;
            content: "";
        }

        @keyframes revolve{
            0%{
                top:50px;
                left: -90px;
                transform:rotate(0deg);
            
            }
            16.66%{
                top:50px;
                left: 50px;
                transform:rotate(45deg);
            }
             33.33%{
                top: 100px;
                left: 200px;
                transform:rotate(90deg);
            }
            
            49.99%{
                top: 200px;
                left: 300px;
                transform:rotate(135deg);
            }
           
            66.66%    {
                top: 300px;
                left: 400px; transform:rotate(270deg);

            }
            
             83.33%
            {
                top: 400px;
                left: 300px; transform:rotate(315deg);
            }
            /* 50%
            {
                top: 500px;
                left: 450px;
            }
            60%{
                top: 550px;
                left: 100px;
            } */
            100%{
                top: 500px;
                left: -90px;
                transform:rotate(360deg);
            } 
        }
        @keyframes anima{
            0%{
                top:10%;
            }
            50%{
                top: 50%;
            }
            100%{
                background-color: blueviolet;
            }
        }
        .moon{
            width: 20px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(white);
        }