
body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: 'Mali', cursive;
  font-size: 2em;
  text-align:center;
  margin-top: 30px;
  margin-bottom:50px;
}

.container {
   width: 100%;

}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
   animation-name: makebig;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  margin-left:auto;
  margin-right:auto;
}
#heart:before,
#heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: pink;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

@keyframes makebig {
    20% {transform: scale(1); }
    60% {transform: scale(1.5);}
    100% {transform: scale(1);}
}


  
