.pixelart-to-css {
	box-shadow: 10px 10px 0 0 #3f51b5, 20px 10px 0 0 #3f51b5, 30px 10px 0 0 #3f51b5,
		40px 10px 0 0 #3f51b5, 50px 10px 0 0 #3f51b5, 60px 10px 0 0 #3f51b5,
		70px 10px 0 0 #3f51b5, 80px 10px 0 0 #3f51b5, 90px 10px 0 0 #3f51b5,
		100px 10px 0 0 #3f51b5, 110px 10px 0 0 #3f51b5, 120px 10px 0 0 #3f51b5,
		130px 10px 0 0 #3f51b5, 140px 10px 0 0 #3f51b5, 150px 10px 0 0 #ffeb3b,
		160px 10px 0 0 #ffeb3b, 170px 10px 0 0 #ffeb3b, 180px 10px 0 0 #ffeb3b,
		190px 10px 0 0 #ffeb3b, 200px 10px 0 0 #ffeb3b, 10px 20px 0 0 #3f51b5,
		20px 20px 0 0 #3f51b5, 30px 20px 0 0 #3f51b5, 40px 20px 0 0 #3f51b5,
		50px 20px 0 0 #3f51b5, 60px 20px 0 0 #3f51b5, 70px 20px 0 0 #3f51b5,
		80px 20px 0 0 #3f51b5, 90px 20px 0 0 #3f51b5, 100px 20px 0 0 #3f51b5,
		110px 20px 0 0 #3f51b5, 120px 20px 0 0 #3f51b5, 130px 20px 0 0 #3f51b5,
		140px 20px 0 0 #3f51b5, 150px 20px 0 0 #ffeb3b, 160px 20px 0 0 #ffeb3b,
		170px 20px 0 0 #ffeb3b, 180px 20px 0 0 #ffeb3b, 190px 20px 0 0 #ffeb3b,
		200px 20px 0 0 #ffeb3b, 10px 30px 0 0 #3f51b5, 20px 30px 0 0 #3f51b5,
		30px 30px 0 0 #3f51b5, 40px 30px 0 0 #3f51b5, 50px 30px 0 0 #3f51b5,
		60px 30px 0 0 #3f51b5, 70px 30px 0 0 #3f51b5, 80px 30px 0 0 #3f51b5,
		90px 30px 0 0 #3f51b5, 100px 30px 0 0 #3f51b5, 110px 30px 0 0 #3f51b5,
		120px 30px 0 0 #3f51b5, 160px 30px 0 0 #ffeb3b, 170px 30px 0 0 #ffeb3b,
		180px 30px 0 0 #ffeb3b, 190px 30px 0 0 #ffeb3b, 200px 30px 0 0 #ffeb3b,
		10px 40px 0 0 #3f51b5, 20px 40px 0 0 #3f51b5, 30px 40px 0 0 #3f51b5,
		40px 40px 0 0 #3f51b5, 50px 40px 0 0 #3f51b5, 60px 40px 0 0 #3f51b5,
		170px 40px 0 0 #ffeb3b, 180px 40px 0 0 #ffeb3b, 190px 40px 0 0 #ffeb3b,
		200px 40px 0 0 #ffeb3b, 10px 50px 0 0 #3f51b5, 20px 50px 0 0 #3f51b5,
		30px 50px 0 0 #3f51b5, 190px 50px 0 0 #ffeb3b, 200px 50px 0 0 #ffeb3b,
		30px 80px 0 0 #4caf50, 40px 80px 0 0 #4caf50, 50px 80px 0 0 #4caf50,
		60px 80px 0 0 #4caf50, 70px 80px 0 0 #4caf50, 10px 90px 0 0 #4caf50,
		20px 90px 0 0 #4caf50, 30px 90px 0 0 #ff0000, 40px 90px 0 0 #4caf50,
		50px 90px 0 0 #4caf50, 60px 90px 0 0 #ff0000, 70px 90px 0 0 #4caf50,
		10px 100px 0 0 #4caf50, 20px 100px 0 0 #4caf50, 30px 100px 0 0 #4caf50,
		40px 100px 0 0 #4caf50, 50px 100px 0 0 #ff0000, 60px 100px 0 0 #4caf50,
		70px 100px 0 0 #4caf50, 80px 100px 0 0 #4caf50, 10px 110px 0 0 #4caf50,
		20px 110px 0 0 #ff0000, 30px 110px 0 0 #4caf50, 40px 110px 0 0 #4caf50,
		50px 110px 0 0 #4caf50, 60px 110px 0 0 #4caf50, 70px 110px 0 0 #ff0000,
		80px 110px 0 0 #4caf50, 10px 120px 0 0 #ff0000, 20px 120px 0 0 #4caf50,
		30px 120px 0 0 #795548, 40px 120px 0 0 #795548, 50px 120px 0 0 #795548,
		60px 120px 0 0 #795548, 70px 120px 0 0 #4caf50, 80px 120px 0 0 #4caf50,
		20px 130px 0 0 #4caf50, 30px 130px 0 0 #795548, 40px 130px 0 0 #795548,
		50px 130px 0 0 #795548, 60px 130px 0 0 #795548, 70px 130px 0 0 #ff0000,
		80px 130px 0 0 #4caf50, 30px 140px 0 0 #795548, 40px 140px 0 0 #795548,
		50px 140px 0 0 #795548, 60px 140px 0 0 #795548, 30px 150px 0 0 #795548,
		40px 150px 0 0 #795548, 50px 150px 0 0 #795548, 60px 150px 0 0 #795548,
		30px 160px 0 0 #795548, 40px 160px 0 0 #795548, 50px 160px 0 0 #795548,
		60px 160px 0 0 #795548, 30px 170px 0 0 #795548, 40px 170px 0 0 #795548,
		50px 170px 0 0 #795548, 60px 170px 0 0 #795548, 90px 170px 0 0 #4caf50,
		170px 170px 0 0 #4caf50, 200px 170px 0 0 #4caf50, 10px 180px 0 0 #4caf50,
		20px 180px 0 0 #4caf50, 30px 180px 0 0 #795548, 40px 180px 0 0 #4caf50,
		50px 180px 0 0 #795548, 60px 180px 0 0 #4caf50, 80px 180px 0 0 #4caf50,
		90px 180px 0 0 #4caf50, 120px 180px 0 0 #4caf50, 140px 180px 0 0 #4caf50,
		150px 180px 0 0 #4caf50, 170px 180px 0 0 #4caf50, 190px 180px 0 0 #4caf50,
		200px 180px 0 0 #4caf50, 10px 190px 0 0 #8bc34a, 20px 190px 0 0 #4caf50,
		30px 190px 0 0 #8bc34a, 40px 190px 0 0 #8bc34a, 50px 190px 0 0 #4caf50,
		60px 190px 0 0 #4caf50, 70px 190px 0 0 #8bc34a, 80px 190px 0 0 #8bc34a,
		90px 190px 0 0 #4caf50, 100px 190px 0 0 #8bc34a, 110px 190px 0 0 #4caf50,
		120px 190px 0 0 #4caf50, 130px 190px 0 0 #4caf50, 140px 190px 0 0 #8bc34a,
		150px 190px 0 0 #4caf50, 160px 190px 0 0 #8bc34a, 170px 190px 0 0 #4caf50,
		180px 190px 0 0 #4caf50, 190px 190px 0 0 #8bc34a, 200px 190px 0 0 #4caf50,
		10px 200px 0 0 #8bc34a, 20px 200px 0 0 #8bc34a, 30px 200px 0 0 #8bc34a,
		40px 200px 0 0 #8bc34a, 50px 200px 0 0 #8bc34a, 60px 200px 0 0 #8bc34a,
		70px 200px 0 0 #8bc34a, 80px 200px 0 0 #8bc34a, 90px 200px 0 0 #8bc34a,
		100px 200px 0 0 #8bc34a, 110px 200px 0 0 #8bc34a, 120px 200px 0 0 #8bc34a,
		130px 200px 0 0 #8bc34a, 140px 200px 0 0 #8bc34a, 150px 200px 0 0 #8bc34a,
		160px 200px 0 0 #8bc34a, 170px 200px 0 0 #8bc34a, 180px 200px 0 0 #8bc34a,
		190px 200px 0 0 #8bc34a, 200px 200px 0 0 #8bc34a;
	height: 10px;
	width: 10px;
}
