:root {
  --violet: #9400d3;
  --indigo: #4b0082;
  --blue: #0000ff;
  --green: #00ff00;
  --yellow: #ffff00;
  --orange: #ff7f00;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
}

.violet {
  background-color: var(--violet);
}

.indigo {
  background-color: var(--indigo);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.color {
  width: 0%;
  height: 14.27%;
  animation: width-to-right 1s linear forwards infinite alternate;
}

.animation {
  width: 600px;
  height: 500px;
  background-color: #d5c3aa;
  display: flex;
  flex-direction: column;
}

@keyframes width-to-right {
  0% {
    opacity: 0;
    width: 0%;
  }
  90% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
