html,body {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background: linear-gradient(270deg, #0094ff, #1d1b38);
}

.container {
position: absolute;
left: 10%;
top: 10%;
transform: translate(100%,100%);
}

.head {
    position: absolute;
    height: 400px;
    width: 500px;
    border-right: 200px solid #16A7C4;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    border-bottom: 200px solid #16A7C4;
    background-color: #16A7C4;
    transform: rotate(0deg);
    /*   overflow: hidden; */
}

    .head:before {
        content: "";
        position: absolute;
        width: 300px;
        height: 250px;
        top: 130px;
        left: 40px;
        background-color: white;
        border-right: 220px solid white;
        border-left: 100px solid white;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        border-bottom-left-radius: 350px;
        border-bottom-right-radius: 350px;
        border-bottom: 200px solid white;
    }
/*
.head:after {
content: "";
position: absolute;
height: 20px;
width: 34px;
background: red;
/*   border-radius: 50%;
border-bottom: 1px solid #a1665e; */
/* border: 2px solid #a1665e;
border-bottom: none;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
transform: rotate(-51deg);
top: 110px;
left: -122px;
}
*/
.eye {
    position: absolute;
    height: 150px;
    width: 130px;
    background: #F2F5F4;
    border-radius: 100%;
    border: 2px solid black;
    transform: rotate(0deg);
    left: 350px;
    top: 20px;
}
/*Eye Ball*/
.eyeball {
    content: "";
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 50%;
    background: #1d1b38;
    top: 50px;
    left: 80px;
    transform: rotate(0deg);
}

.eyeball1 {
    content: "";
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 50%;
    background: #1d1b38;
    top: 45px;
    left: 10px;
    transform: rotate(0deg);
}


.eyeballl {
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    border-radius: 50%;
    background: white;
    top: 15px;
    left: 5px;
    transform: rotate(0deg);
}

.eyeballl1 {
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    border-radius: 50%;
    background: white;
    top: 15px;
    left: 25px;
    transform: rotate(0deg);

}


.nose {
    position: absolute;
    height: 65px;
    width: 65px;
    background: #BE0E28;
    border-radius: 100%;
    transform: rotate(0deg);
    left: 312px;
    top: 140px;
}

    .nose:after {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        left: 20px;
        top: 15px;
        border-radius: 100%;
        background: #EFCDDA;
        box-shadow: 0 0 5px 5px #EFCDDA, 0 0 2px 2px #EFCDDA;
    }

.smile {
    position: absolute;
    height: 200px;
    width: 400px;
    background: #ffffff;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    transform: rotate(0deg);
    left: 150px;
    top: 300px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
}
/*
.eye:after {
content: "";
position: absolute;
height: 8px;
width: 10px;
border-radius: 50%;
background: #fff;
top: 35px;
left: 24px;
transform: rotate(-10deg);
box-shadow: 100px 36px 0 -1px #a1665e,
          70px 36px 0 -1px #a1665e,
          85px 50px 0 -1px #a1665e;
}
*/
.eye1 {
top: 15px;
left: 210px;
}

.nline {
    position: absolute;
    height: 295px;
    width: 5px;
    background: #000000;
    transform: rotate(0deg);
    left: 30px;
    top: 65px;
}

.hair {
position: relative;
z-index: 2;

right: 6px;
}

.hair>div:nth-child(1) {
position: absolute;
top:130px;

height: 170px;
width: 3px;
left:500px;
background:black;
transform: rotate(70deg);
}

.hair > div:nth-child(2) {
    position: absolute;
    top: 180px;

    height: 200px;
    width: 3px;
    left: 530px;
    background: black;
    transform: rotate(90deg);
}

.hair > div:nth-child(3) {
    position: absolute;
    top: 220px;

    height: 200px;
    width: 3px;
    left: 530px;
    background: black;
    transform: rotate(100deg);
}

.hair > div:nth-child(4) {
    position: absolute;
    top: 130px;

    height: 170px;
    width: 3px;
    left: 200px;
    background: black;
    transform: rotate(-70deg);
}

.hair > div:nth-child(5) {
    position: absolute;
    top: 180px;

    height: 200px;
    width: 3px;
    left: 180px;
    background: black;
    transform: rotate(-90deg);
}

.hair > div:nth-child(6) {
    position: absolute;
    top: 220px;

    height: 200px;
    width: 3px;
    left: 180px;
    background: black;
    transform: rotate(-100deg);
}
.belt {
    position: absolute;
    height: 20px;
    width: 300px;
    background: #D71E2C;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-left-radius:1000px;
    border-bottom-right-radius:1000px;
    border: 2px solid black;
    transform: rotate(0deg);
    left: 200px;
    top: 580px;
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #DADE36;
    border-radius: 100%;
    border: 2px solid black;
    transform: rotate(0deg);
    left: 320px;
    top: 590px;
}

    .logo:before {
        content: "";
        position: absolute;
        width: 45px;
        height: 5px;
        top: 15px;
        left: 1px;
        background-color: yellow;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        border-bottom-left-radius: 1000px;
        border-bottom-right-radius: 1000px;
        border: 2px solid black;
    }

    .logo:after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #2a2727;
        border-radius: 100%;
        left: 18px;
        top: 25px;
    }

.lock {
    position: absolute;
    width: 8px;
    height: 16px;
    background-color:#2a2727;
    left: 343px;
    top: 625px;
}