body {
    background-color: black;
}

<<<<<<< HEAD
#hps {
    display: flex;
    margin-top: 15%;
}

.lefthp {
    clip-path: polygon(50% 25%, 60% 4%, 85% 0, 100% 15%, 100% 100%, 80% 100%, 80% 43%, 65% 45%);
    height: 21em;
    width: 20em;
    background-image: url(music.jpg);
    margin-left: 25%;
    z-index: -1;
}

.words {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2.5em;
    color: white;
    height: 20em;
    width: 1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    z-index: -1;
    
}

.righthp {
    clip-path: polygon(40% 4%, 50% 25%, 35% 45%, 20% 43%, 20% 100%, 0 100%, 0 15%, 15% 0);
    height: 21em;
    width: 20em;
    background-image: url(music.jpg);
    margin-left: 1em;
    z-index: -1;
}

=======

#eyes {
    display: flex;
    margin-top: 10%;
}

.lefteye {
    height: 130px;
    width: 300px;
    background-image: linear-gradient(to right bottom, #ff0000, #ff4c00, #ff6f00, #ff8c00, #ffa600);
    border-radius: 37% 63% 47% 53% / 0% 90% 10% 100% ;
    margin-left: 20%;
    
}

.righteye {
    height: 130px;
    width: 300px;
    background-image: linear-gradient(to left bottom, #ff0000, #ff4c00, #ff6f00, #ff8c00, #ffa600);
    border-radius: 37% 63% 47% 53% / 90% 0% 100% 10% ;
    margin-left: 8%;
}

.mouth {
    margin-left: 20%;
    margin-top: 8%;
    height: 400px;
    width: 700px;
    clip-path: polygon(22% 33%, 0 0, 21% 64%, 34% 36%, 49% 64%, 64% 41%, 79% 65%, 100% 0, 78% 33%, 65% 10%, 49% 37%, 34% 13%);
    background-image: linear-gradient(to top, #ff0000, #ff4c00, #ff6f00, #ff8c00, #ffa600);
    
}

#face {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
>>>>>>> 6574f45e7f7540865e7977eada4b13871e0f7165
