* {
  overflow: hidden;
  margin: 0;
}
body {
  background: #000;
}
@keyframes circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(6);
  }
}
.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
}
.one {
  animation: circle 6s infinite linear;
  border: 20px solid red;
}
.two {
  animation: circle 5s infinite linear;
  border: 20px solid green;
}
.three {
  animation: circle 4s infinite linear;
  border: 20px solid blue;
}
.four {
  animation: circle 3s infinite linear;
  border: 20px solid yellow;
}
.five {
  animation: circle 2s infinite linear;
  border: 20px solid violet;
}
