
body {
	height:100vh;
	width:100%;
	border:0;
	margin:0;
	background-color:yellow;
 }

.canvas {
	position: relative;
 	margin: auto;
    display: block;
    height:600px;
    width:500px;
    top:5%;
}

.cactus {
	position: absolute; 
	top:10%;
	right:0;
	bottom:0;
	left:30%;
	width: 200px; 
	height: 300px; 
	background-image: linear-gradient(to top, #52c234,#061700); 
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	transform:rotate(180deg);
	z-index:-2;
}

.pot-part1{
	position: absolute; 
	top:50%;
	right:0;
	bottom:0;
	left:20%;
	width: 300px; 
	height: 30px; 
	background-color: brown; 
	border-radius:20%;
	border-top:5px solid black;
	border-bottom:5px solid black;
}

.pot-part2 {
	position: absolute; 
	top:54.5%;
	right:0;
	bottom:0;
	left:25.3%;
 	border-bottom: 150px solid brown; 
 	border-left: 25px solid transparent; 
 	border-right: 25px solid transparent; 
 	height: 0; 
 	width: 200px;
 	transform:rotate(180deg);
 	z-index:-1;
}


.right-eye {
	position:absolute;
	top:60%;
	left:20%;
	right:0;
	bottom:0;
	width:40px;
	height:40px;
	background:black;
	border-radius: 50%;
	z-index:1;
}

.left-eye {
	position:absolute;
	top:60%;
	left:50%;
	right:0;
	bottom:0;
	width:40px;
	height:40px;
	background:black;
	border-radius:50%
}

.right-eyeball {
	position:absolute;
	top:49%;
	left:15%;
	right:0;
	bottom:0;
	width:20px;
	height:20px;
	background:white;
	border-radius:50%
}

.left-eyeball {
	position:absolute;
	top:49%;
	left:15%;
	right:0;
	bottom:0;
	width:20px;
	height:20px;
	background:white;
	border-radius:50%
}

.mouth {
	position: absolute;
  	z-index: 1;
  	top: 40%;
  	left: 0;
  	right: 10%;
  	bottom:20%;
  	height: 40px;
  	width: 45px;
  	margin: 0 auto;
  	border-bottom: 8px solid black;
  	border-radius: 100%;
  	transform:rotate(180deg);
}

.spike1 {
	position:absolute;
	height:20px;
	width:2px;
	top:30%;
	left:30%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-30deg);
}

.spike2 {
	position:absolute;
	height:20px;
	width:2px;
	top:20%;
	left:35%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-30deg);
}

.spike3 {
	position:absolute;
	height:20px;
	width:2px;
	top:10%;
	left:40%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-30deg);
}

.spike4 {
	position:absolute;
	height:20px;
	width:2px;
	top:30%;
	left:40%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-30deg);
}

.spike5 {
	position:absolute;
	height:20px;
	width:2px;
	top:8%;
	left:50%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-10deg);
}

.spike6 {
	position:absolute;
	height:20px;
	width:2px;
	top:10%;
	left:60%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike7 {
	position:absolute;
	height:20px;
	width:2px;
	top:30%;
	left:70%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike8 {
	position:absolute;
	height:20px;
	width:2px;
	top:20%;
	left:68%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike9 {
	position:absolute;
	height:20px;
	width:2px;
	top:40%;
	left:60%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike10 {
	position:absolute;
	height:20px;
	width:2px;
	top:30%;
	left:65%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike11 {
	position:absolute;
	height:20px;
	width:2px;
	top:15%;
	left:60%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(30deg);
}

.spike12 {
	position:absolute;
	height:20px;
	width:2px;
	top:40%;
	left:35%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-40deg);
}

.spike13 {
	position:absolute;
	height:20px;
	width:2px;
	top:15%;
	left:45%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-15deg);
}

.spike14 {
	position:absolute;
	height:20px;
	width:2px;
	top:45%;
	left:45%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(-30deg);
}

.spike15 {
	position:absolute;
	height:20px;
	width:2px;
	top:45%;
	left:66%;
	bottom:0;
	right:0;
	background:black;
	transform:rotate(40deg);
}