/* References */
/* Qiita: introduction to CSS animation by soarflat https://qiita.com/soarflat/items/4a302e0cafa21477707f */
/* MDN animation: https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
/* How to place at center with CSS flexbox by kano: https://ics.media/entry/17522/ */
/* CSS animation で遊び倒す - Dodger Loading - by duka:  https://qiita.com/duka/items/39f3ff204cb95a9b6910*/

body {
  margin: 0;
  padding: 0;
  background: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chaser {
  background-color: hotpink;
  width: 50px;
  height: 50px;
  margin-right: 80px;
}

.escaper {
  background-color: dodgerblue;
  width: 50px;
  height: 50px;
  margin-right: 40px;
}
