* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(80, 79, 79);
}

.piano {
  height: 16.8em;
  width: 40.2em;
  margin: 10em auto;
  padding: 1em 0 0 1em;
  position: relative;
  border: 1px solid #160801;
  background-color: #160801;
  border-radius: 1em;
}

div div {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

div .white {
  height: 16em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

.black {
  height: 8em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black:hover {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

.d4,
.e4,
.f4,
.g4,
.a4,
.b4,
.c5,
.d5,
.e5 {
  margin: 0 0 0 -1em;
}

div div:first-child {
  border-radius: 5px 0 5px 5px;
}

div div:last-child {
  border-radius: 0 5px 5px 5px;
}

/* animations  */
.c4 {
  animation: color-change-one 0.5s alternate infinite;
}

.d4 {
  animation: color-change-one 0.5s alternate infinite 0.6s;
}

.e4 {
  animation: color-change-one 0.5s alternate infinite 1.2s;
}

.f4 {
  animation: color-change-one 2s alternate infinite 1.6s;
}

.g4 {
  animation: color-change-one 0.5s alternate infinite 2.1s;
}

.a4 {
  animation: color-change-one 0.5s alternate infinite 2.6s;
}

.b4 {
  animation: color-change-one 0.5s alternate infinite 3.1s;
}

.c5 {
  animation: color-change-one 0.2s alternate infinite 3.7s;
}

.d5 {
  animation: color-change-one 0.3s alternate infinite 4.1s;
}

.e5 {
  animation: color-change-one 0.2s alternate infinite 4.3s;
}

@keyframes color-change-one {
  0% {
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
      -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
  }

  100% {
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
      0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  }
}
