
/*body {
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/* colors

body
orange #e38532
orange shadow #c25445

wings
blue #3a6f92
blue shadow #1f4152

belly
yellow #e7e17a
yellow shadow #e4b65c

flames
yellow #f5d91f
orange #eba721
red #da4623

eye
black #000000
blue #3a6f92
white #ffffff

teeth
white #ffffff

nails
white #ffffff
grey #cbcbcb

border
black #000000
brown #7b3521


*/

.container {
    width: 860px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 1px 14px 93px 2px rgba(0, 0, 0, 0.41);
}

.pixel {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px #231816;
    /*border: 1px solid black;*/
}

/* body
orange #e38532 */

.pixel:nth-of-type(218),
.pixel:nth-of-type(219),
.pixel:nth-of-type(220),
.pixel:nth-of-type(304),
.pixel:nth-of-type(305),
.pixel:nth-of-type(306),
.pixel:nth-of-type(389),
.pixel:nth-of-type(390),
.pixel:nth-of-type(391),
.pixel:nth-of-type(474),
.pixel:nth-of-type(475),
.pixel:nth-of-type(476),
.pixel:nth-of-type(558),
.pixel:nth-of-type(559),
.pixel:nth-of-type(560),
.pixel:nth-of-type(561),
.pixel:nth-of-type(641),
.pixel:nth-of-type(642),
.pixel:nth-of-type(643),
.pixel:nth-of-type(644),
.pixel:nth-of-type(645),
.pixel:nth-of-type(646),
.pixel:nth-of-type(724),
.pixel:nth-of-type(725),
.pixel:nth-of-type(726),
.pixel:nth-of-type(727),
.pixel:nth-of-type(728),
.pixel:nth-of-type(729),
.pixel:nth-of-type(730),
.pixel:nth-of-type(731),
.pixel:nth-of-type(808),
.pixel:nth-of-type(809),
.pixel:nth-of-type(810),
.pixel:nth-of-type(811),
.pixel:nth-of-type(812),
.pixel:nth-of-type(813),
.pixel:nth-of-type(814),
.pixel:nth-of-type(815),
.pixel:nth-of-type(816),
.pixel:nth-of-type(893),
.pixel:nth-of-type(894),
.pixel:nth-of-type(895),
.pixel:nth-of-type(896),
.pixel:nth-of-type(897),
.pixel:nth-of-type(898),
.pixel:nth-of-type(899),
.pixel:nth-of-type(900),
.pixel:nth-of-type(901),
.pixel:nth-of-type(902),
.pixel:nth-of-type(903),
.pixel:nth-of-type(917),
.pixel:nth-of-type(918),
.pixel:nth-of-type(978),
.pixel:nth-of-type(979),
.pixel:nth-of-type(981),
.pixel:nth-of-type(982),
.pixel:nth-of-type(983),
.pixel:nth-of-type(984),
.pixel:nth-of-type(985),
.pixel:nth-of-type(986),
.pixel:nth-of-type(987),
.pixel:nth-of-type(988),
.pixel:nth-of-type(989),
.pixel:nth-of-type(990),
.pixel:nth-of-type(1003),
.pixel:nth-of-type(1064),
.pixel:nth-of-type(1066),
.pixel:nth-of-type(1068),
.pixel:nth-of-type(1073),
.pixel:nth-of-type(1074),
.pixel:nth-of-type(1075),
.pixel:nth-of-type(1076),
.pixel:nth-of-type(1152),
.pixel:nth-of-type(1153),
.pixel:nth-of-type(1159),
.pixel:nth-of-type(1160),
.pixel:nth-of-type(1161),
.pixel:nth-of-type(1162),
.pixel:nth-of-type(1163),
.pixel:nth-of-type(1226),
.pixel:nth-of-type(1227),
.pixel:nth-of-type(1245),
.pixel:nth-of-type(1246),
.pixel:nth-of-type(1247),
.pixel:nth-of-type(1248),
.pixel:nth-of-type(1249),
.pixel:nth-of-type(1268),
.pixel:nth-of-type(1269),
.pixel:nth-of-type(1270),
.pixel:nth-of-type(1311),
.pixel:nth-of-type(1312),
.pixel:nth-of-type(1313),
.pixel:nth-of-type(1330),
.pixel:nth-of-type(1331),
.pixel:nth-of-type(1332),
.pixel:nth-of-type(1333),
.pixel:nth-of-type(1334),
.pixel:nth-of-type(1354),
.pixel:nth-of-type(1355),
.pixel:nth-of-type(1356),
.pixel:nth-of-type(1357),
.pixel:nth-of-type(1358),
.pixel:nth-of-type(1359),
.pixel:nth-of-type(1397),
.pixel:nth-of-type(1398),
.pixel:nth-of-type(1410),
.pixel:nth-of-type(1411),
.pixel:nth-of-type(1412),
.pixel:nth-of-type(1413),
.pixel:nth-of-type(1414),
.pixel:nth-of-type(1415),
.pixel:nth-of-type(1416),
.pixel:nth-of-type(1417),
.pixel:nth-of-type(1418),
.pixel:nth-of-type(1445),
.pixel:nth-of-type(1446),
.pixel:nth-of-type(1447),
.pixel:nth-of-type(1482),
.pixel:nth-of-type(1483),
.pixel:nth-of-type(1484),
.pixel:nth-of-type(1493),
.pixel:nth-of-type(1494),
.pixel:nth-of-type(1495),
.pixel:nth-of-type(1496),
.pixel:nth-of-type(1497),
.pixel:nth-of-type(1498),
.pixel:nth-of-type(1499),
.pixel:nth-of-type(1500),
.pixel:nth-of-type(1501),
.pixel:nth-of-type(1502),
.pixel:nth-of-type(1567),
.pixel:nth-of-type(1568),
.pixel:nth-of-type(1569),
.pixel:nth-of-type(1578),
.pixel:nth-of-type(1579),
.pixel:nth-of-type(1580),
.pixel:nth-of-type(1581),
.pixel:nth-of-type(1582),
.pixel:nth-of-type(1583),
.pixel:nth-of-type(1584),
.pixel:nth-of-type(1585),
.pixel:nth-of-type(1586),
.pixel:nth-of-type(1587),
.pixel:nth-of-type(1652),
.pixel:nth-of-type(1653),
.pixel:nth-of-type(1654),
.pixel:nth-of-type(1655),
.pixel:nth-of-type(1662),
.pixel:nth-of-type(1663),
.pixel:nth-of-type(1664),
.pixel:nth-of-type(1665),
.pixel:nth-of-type(1666),
.pixel:nth-of-type(1667),
.pixel:nth-of-type(1668),
.pixel:nth-of-type(1669),
.pixel:nth-of-type(1670),
.pixel:nth-of-type(1671),
.pixel:nth-of-type(1737),
.pixel:nth-of-type(1738),
.pixel:nth-of-type(1739),
.pixel:nth-of-type(1740),
.pixel:nth-of-type(1748),
.pixel:nth-of-type(1749),
.pixel:nth-of-type(1751),
.pixel:nth-of-type(1752),
.pixel:nth-of-type(1753),
.pixel:nth-of-type(1754),
.pixel:nth-of-type(1755),
.pixel:nth-of-type(1821),
.pixel:nth-of-type(1822),
.pixel:nth-of-type(1823),
.pixel:nth-of-type(1824),
.pixel:nth-of-type(1835),
.pixel:nth-of-type(1836),
.pixel:nth-of-type(1837),
.pixel:nth-of-type(1838),
.pixel:nth-of-type(1839),
.pixel:nth-of-type(1863),
.pixel:nth-of-type(1906),
.pixel:nth-of-type(1907),
.pixel:nth-of-type(1908),
.pixel:nth-of-type(1921),
.pixel:nth-of-type(1922),
.pixel:nth-of-type(1923),
.pixel:nth-of-type(1924),
.pixel:nth-of-type(1949),
.pixel:nth-of-type(1991),
.pixel:nth-of-type(1992),
.pixel:nth-of-type(2008),
.pixel:nth-of-type(2009),
.pixel:nth-of-type(2034),
.pixel:nth-of-type(2035),
.pixel:nth-of-type(2077),
.pixel:nth-of-type(2120),
.pixel:nth-of-type(2121),
.pixel:nth-of-type(2138),
.pixel:nth-of-type(2139),
.pixel:nth-of-type(2162),
.pixel:nth-of-type(2163),
.pixel:nth-of-type(2202),
.pixel:nth-of-type(2205),
.pixel:nth-of-type(2206),
.pixel:nth-of-type(2225),
.pixel:nth-of-type(2248),
.pixel:nth-of-type(2288),
.pixel:nth-of-type(2290),
.pixel:nth-of-type(2291),
.pixel:nth-of-type(2292),
.pixel:nth-of-type(2311),
.pixel:nth-of-type(2312),
.pixel:nth-of-type(2334),
.pixel:nth-of-type(2374),
.pixel:nth-of-type(2376),
.pixel:nth-of-type(2377),
.pixel:nth-of-type(2398),
.pixel:nth-of-type(2420),
.pixel:nth-of-type(2460),
.pixel:nth-of-type(2462),
.pixel:nth-of-type(2484),
.pixel:nth-of-type(2485),
.pixel:nth-of-type(2506),
.pixel:nth-of-type(2545),
.pixel:nth-of-type(2546),
.pixel:nth-of-type(2547),
.pixel:nth-of-type(2554),
.pixel:nth-of-type(2555),



.pixel:nth-of-type(2571)





{
    background-color:#e38532;/* body
    orange #e38532 */
}
/* orange shadow #c25445 */
.pixel:nth-of-type(210),
.pixel:nth-of-type(211),
.pixel:nth-of-type(296),
.pixel:nth-of-type(297),
.pixel:nth-of-type(381),
.pixel:nth-of-type(382),
.pixel:nth-of-type(467),
.pixel:nth-of-type(468),
.pixel:nth-of-type(477),
.pixel:nth-of-type(552),
.pixel:nth-of-type(553),
.pixel:nth-of-type(554),
.pixel:nth-of-type(562),
.pixel:nth-of-type(637),
.pixel:nth-of-type(638),
.pixel:nth-of-type(647),
.pixel:nth-of-type(648),
.pixel:nth-of-type(723),
.pixel:nth-of-type(732),
.pixel:nth-of-type(733),
.pixel:nth-of-type(817),
.pixel:nth-of-type(818),
.pixel:nth-of-type(819),
.pixel:nth-of-type(904),
.pixel:nth-of-type(905),
.pixel:nth-of-type(906),
.pixel:nth-of-type(980),
.pixel:nth-of-type(991),
.pixel:nth-of-type(992),
.pixel:nth-of-type(993),
.pixel:nth-of-type(1004),
.pixel:nth-of-type(1005),
.pixel:nth-of-type(1063),
.pixel:nth-of-type(1067),
.pixel:nth-of-type(1069),
.pixel:nth-of-type(1070),
.pixel:nth-of-type(1077),
.pixel:nth-of-type(1078),
.pixel:nth-of-type(1079),
.pixel:nth-of-type(1090),
.pixel:nth-of-type(1091),
.pixel:nth-of-type(1092),
.pixel:nth-of-type(1149),
.pixel:nth-of-type(1150),
.pixel:nth-of-type(1154),
.pixel:nth-of-type(1164),
.pixel:nth-of-type(1165),
.pixel:nth-of-type(1166),
.pixel:nth-of-type(1177),
.pixel:nth-of-type(1178),
.pixel:nth-of-type(1179),
.pixel:nth-of-type(1180),
.pixel:nth-of-type(1237),
.pixel:nth-of-type(1239),
.pixel:nth-of-type(1244),
.pixel:nth-of-type(1250),
.pixel:nth-of-type(1251),
.pixel:nth-of-type(1252),
.pixel:nth-of-type(1264),
.pixel:nth-of-type(1265),
.pixel:nth-of-type(1266),
.pixel:nth-of-type(1267),
.pixel:nth-of-type(1323),
.pixel:nth-of-type(1324),
.pixel:nth-of-type(1329),
.pixel:nth-of-type(1335),
.pixel:nth-of-type(1336),
.pixel:nth-of-type(1337),
.pixel:nth-of-type(1338),
.pixel:nth-of-type(1339),
.pixel:nth-of-type(1350),
.pixel:nth-of-type(1351),
.pixel:nth-of-type(1352),
.pixel:nth-of-type(1353),
.pixel:nth-of-type(1396),
.pixel:nth-of-type(1408),
.pixel:nth-of-type(1409),
.pixel:nth-of-type(1419),
.pixel:nth-of-type(1420),
.pixel:nth-of-type(1421),
.pixel:nth-of-type(1422),
.pixel:nth-of-type(1423),
.pixel:nth-of-type(1424),
.pixel:nth-of-type(1425),
.pixel:nth-of-type(1437),
.pixel:nth-of-type(1438),
.pixel:nth-of-type(1439),
.pixel:nth-of-type(1448),
.pixel:nth-of-type(1506),
.pixel:nth-of-type(1507),
.pixel:nth-of-type(1508),
.pixel:nth-of-type(1509),
.pixel:nth-of-type(1510),
.pixel:nth-of-type(1511),
.pixel:nth-of-type(1523),
.pixel:nth-of-type(1524),
.pixel:nth-of-type(1533),
.pixel:nth-of-type(1534),
.pixel:nth-of-type(1589),
.pixel:nth-of-type(1590),
.pixel:nth-of-type(1591),
.pixel:nth-of-type(1592),
.pixel:nth-of-type(1593),
.pixel:nth-of-type(1594),
.pixel:nth-of-type(1595),
.pixel:nth-of-type(1596),
.pixel:nth-of-type(1597),
.pixel:nth-of-type(1598),
.pixel:nth-of-type(1608),
.pixel:nth-of-type(1610),
.pixel:nth-of-type(1619),
.pixel:nth-of-type(1620),
.pixel:nth-of-type(1674),
.pixel:nth-of-type(1675),
.pixel:nth-of-type(1676),
.pixel:nth-of-type(1677),
.pixel:nth-of-type(1678),
.pixel:nth-of-type(1679),
.pixel:nth-of-type(1680),
.pixel:nth-of-type(1681),
.pixel:nth-of-type(1682),
.pixel:nth-of-type(1683),
.pixel:nth-of-type(1684),
.pixel:nth-of-type(1696),
.pixel:nth-of-type(1697),
.pixel:nth-of-type(1706),
.pixel:nth-of-type(1707),
.pixel:nth-of-type(1736),
.pixel:nth-of-type(1741),
.pixel:nth-of-type(1758),
.pixel:nth-of-type(1759),
.pixel:nth-of-type(1760),
.pixel:nth-of-type(1761),
.pixel:nth-of-type(1762),
.pixel:nth-of-type(1763),
.pixel:nth-of-type(1764),
.pixel:nth-of-type(1765),
.pixel:nth-of-type(1766),
.pixel:nth-of-type(1767),
.pixel:nth-of-type(1768),
.pixel:nth-of-type(1769),
.pixel:nth-of-type(1770),
.pixel:nth-of-type(1783),
.pixel:nth-of-type(1785),
.pixel:nth-of-type(1792),
.pixel:nth-of-type(1793),
.pixel:nth-of-type(1827),
.pixel:nth-of-type(1828),
.pixel:nth-of-type(1836),
.pixel:nth-of-type(1842),
.pixel:nth-of-type(1843),
.pixel:nth-of-type(1844),
.pixel:nth-of-type(1845),
.pixel:nth-of-type(1846),
.pixel:nth-of-type(1847),
.pixel:nth-of-type(1851),
.pixel:nth-of-type(1852),
.pixel:nth-of-type(1853),
.pixel:nth-of-type(1854),
.pixel:nth-of-type(1855),
.pixel:nth-of-type(1856),
.pixel:nth-of-type(1857),
.pixel:nth-of-type(1869),
.pixel:nth-of-type(1879),
.pixel:nth-of-type(1913),
.pixel:nth-of-type(1914),
.pixel:nth-of-type(1928),
.pixel:nth-of-type(1929),
.pixel:nth-of-type(1930),
.pixel:nth-of-type(1931),
.pixel:nth-of-type(1936),
.pixel:nth-of-type(1937),
.pixel:nth-of-type(1938),
.pixel:nth-of-type(1939),
.pixel:nth-of-type(1940),
.pixel:nth-of-type(1941),
.pixel:nth-of-type(1942),
.pixel:nth-of-type(1943),
.pixel:nth-of-type(1955),
.pixel:nth-of-type(1956),
.pixel:nth-of-type(1965),
.pixel:nth-of-type(1966),
.pixel:nth-of-type(2000),
.pixel:nth-of-type(2011),
.pixel:nth-of-type(2013),
.pixel:nth-of-type(2014),
.pixel:nth-of-type(2022),
.pixel:nth-of-type(2023),
.pixel:nth-of-type(2024),
.pixel:nth-of-type(2025),
.pixel:nth-of-type(2026),
.pixel:nth-of-type(2027),
.pixel:nth-of-type(2028),
.pixel:nth-of-type(2042),
.pixel:nth-of-type(2051),
.pixel:nth-of-type(2052),
.pixel:nth-of-type(2076),
.pixel:nth-of-type(2086),
.pixel:nth-of-type(2097),
.pixel:nth-of-type(2098),
.pixel:nth-of-type(2099),
.pixel:nth-of-type(2108),
.pixel:nth-of-type(2109),
.pixel:nth-of-type(2110),
.pixel:nth-of-type(2111),
.pixel:nth-of-type(2112),
.pixel:nth-of-type(2113),
.pixel:nth-of-type(2114),
.pixel:nth-of-type(2115),
.pixel:nth-of-type(2128),
.pixel:nth-of-type(2172),
.pixel:nth-of-type(2173),
.pixel:nth-of-type(2194),
.pixel:nth-of-type(2195),
.pixel:nth-of-type(2196),
.pixel:nth-of-type(2197),
.pixel:nth-of-type(2198),
.pixel:nth-of-type(2199),
.pixel:nth-of-type(2200),
.pixel:nth-of-type(2201),
.pixel:nth-of-type(2214),
.pixel:nth-of-type(2249),
.pixel:nth-of-type(2259),
.pixel:nth-of-type(2280),
.pixel:nth-of-type(2281),
.pixel:nth-of-type(2282),
.pixel:nth-of-type(2283),
.pixel:nth-of-type(2284),
.pixel:nth-of-type(2285),
.pixel:nth-of-type(2286),
.pixel:nth-of-type(2287),
.pixel:nth-of-type(2299),
.pixel:nth-of-type(2300),
.pixel:nth-of-type(2345),
.pixel:nth-of-type(2366),
.pixel:nth-of-type(2367),
.pixel:nth-of-type(2368),
.pixel:nth-of-type(2369),
.pixel:nth-of-type(2370),
.pixel:nth-of-type(2371),
.pixel:nth-of-type(2372),
.pixel:nth-of-type(2373),
.pixel:nth-of-type(2385),
.pixel:nth-of-type(2431),
.pixel:nth-of-type(2432),
.pixel:nth-of-type(2452),
.pixel:nth-of-type(2453),
.pixel:nth-of-type(2454),
.pixel:nth-of-type(2455),
.pixel:nth-of-type(2456),
.pixel:nth-of-type(2457),
.pixel:nth-of-type(2458),
.pixel:nth-of-type(2459),
.pixel:nth-of-type(2470),
.pixel:nth-of-type(2471),
.pixel:nth-of-type(2518),
.pixel:nth-of-type(2519),
.pixel:nth-of-type(2520),
.pixel:nth-of-type(2521),
.pixel:nth-of-type(2538),
.pixel:nth-of-type(2539),
.pixel:nth-of-type(2540),
.pixel:nth-of-type(2541),
.pixel:nth-of-type(2542),
.pixel:nth-of-type(2543),
.pixel:nth-of-type(2544),
.pixel:nth-of-type(2556),




.pixel:nth-of-type(2029)


/* .pixel:nth-of-type(2591) */



{
    background-color: #c25445; /* orange shadow #c25445 */
}

/* wings
blue #3a6f92 */

.pixel:nth-of-type(1241),
.pixel:nth-of-type(1327),
.pixel:nth-of-type(1529),
.pixel:nth-of-type(1530),
.pixel:nth-of-type(1616),
.pixel:nth-of-type(1617),
.pixel:nth-of-type(1699),
.pixel:nth-of-type(1702),
.pixel:nth-of-type(1703),
.pixel:nth-of-type(1704),
.pixel:nth-of-type(1786),
.pixel:nth-of-type(1789),
.pixel:nth-of-type(1790),
.pixel:nth-of-type(1872),
.pixel:nth-of-type(1875),
.pixel:nth-of-type(1876),
.pixel:nth-of-type(1877),
.pixel:nth-of-type(1958),
.pixel:nth-of-type(1959),
.pixel:nth-of-type(1962),
.pixel:nth-of-type(1963),
.pixel:nth-of-type(2045),
.pixel:nth-of-type(2046),
.pixel:nth-of-type(2048),
.pixel:nth-of-type(2049),
.pixel:nth-of-type(2082),
.pixel:nth-of-type(2131),
.pixel:nth-of-type(2132),
.pixel:nth-of-type(2133),
.pixel:nth-of-type(2135),
.pixel:nth-of-type(2136),
.pixel:nth-of-type(2167),
.pixel:nth-of-type(2168),
.pixel:nth-of-type(2218),
.pixel:nth-of-type(2219),
.pixel:nth-of-type(2221),
.pixel:nth-of-type(2222),
.pixel:nth-of-type(2223),
.pixel:nth-of-type(2253),
.pixel:nth-of-type(2254),
.pixel:nth-of-type(2304),
.pixel:nth-of-type(2305),
.pixel:nth-of-type(2306),
.pixel:nth-of-type(2307),
.pixel:nth-of-type(2308),
.pixel:nth-of-type(2309),
.pixel:nth-of-type(2339),
.pixel:nth-of-type(2340),
.pixel:nth-of-type(2390),
.pixel:nth-of-type(2391),
.pixel:nth-of-type(2392),
.pixel:nth-of-type(2393),
.pixel:nth-of-type(2394),
.pixel:nth-of-type(2395),
.pixel:nth-of-type(2396),
.pixel:nth-of-type(2424),
.pixel:nth-of-type(2425),
.pixel:nth-of-type(2426),
.pixel:nth-of-type(2427),
.pixel:nth-of-type(2476),
.pixel:nth-of-type(2477),
.pixel:nth-of-type(2478),
.pixel:nth-of-type(2479),
.pixel:nth-of-type(2480),
.pixel:nth-of-type(2481),
.pixel:nth-of-type(2482),
.pixel:nth-of-type(2510),
.pixel:nth-of-type(2511),
.pixel:nth-of-type(2512),
.pixel:nth-of-type(2513),
.pixel:nth-of-type(2516),
.pixel:nth-of-type(2562),
.pixel:nth-of-type(2563),
.pixel:nth-of-type(2564),
.pixel:nth-of-type(2565),
.pixel:nth-of-type(2566),
.pixel:nth-of-type(2567),
.pixel:nth-of-type(2568),
.pixel:nth-of-type(2569),


.pixel:nth-of-type(1996)



 {
    background-color: #3a6f92;
}
/* blue shadow #1f4152 */
.pixel:nth-of-type(1526),
.pixel:nth-of-type(1527),
.pixel:nth-of-type(1528),
.pixel:nth-of-type(1611),
.pixel:nth-of-type(1612),
.pixel:nth-of-type(1613),
.pixel:nth-of-type(1614),
.pixel:nth-of-type(1615),
.pixel:nth-of-type(1698),
.pixel:nth-of-type(1700),
.pixel:nth-of-type(1701),
.pixel:nth-of-type(1784),
.pixel:nth-of-type(1785),
.pixel:nth-of-type(1787),
.pixel:nth-of-type(1788),
.pixel:nth-of-type(1870),
.pixel:nth-of-type(1871),
.pixel:nth-of-type(1873),
.pixel:nth-of-type(1874),
.pixel:nth-of-type(1910),
.pixel:nth-of-type(1911),
.pixel:nth-of-type(1912),
.pixel:nth-of-type(1957),
.pixel:nth-of-type(1960),
.pixel:nth-of-type(1961),
.pixel:nth-of-type(1994),
.pixel:nth-of-type(1995),
.pixel:nth-of-type(1997),
.pixel:nth-of-type(1998),
.pixel:nth-of-type(2043),
.pixel:nth-of-type(2044),
.pixel:nth-of-type(2047),
.pixel:nth-of-type(2079),
.pixel:nth-of-type(2080),
.pixel:nth-of-type(2081),
.pixel:nth-of-type(2083),
.pixel:nth-of-type(2084),
.pixel:nth-of-type(2085),
.pixel:nth-of-type(2129),
.pixel:nth-of-type(2130),
.pixel:nth-of-type(2134),
.pixel:nth-of-type(2165),
.pixel:nth-of-type(2166),
.pixel:nth-of-type(2169),
.pixel:nth-of-type(2170),
.pixel:nth-of-type(2171),
.pixel:nth-of-type(2215),
.pixel:nth-of-type(2216),
.pixel:nth-of-type(2217),
.pixel:nth-of-type(2220),
.pixel:nth-of-type(2250),
.pixel:nth-of-type(2251),
.pixel:nth-of-type(2252),
.pixel:nth-of-type(2255),
.pixel:nth-of-type(2256),
.pixel:nth-of-type(2257),
.pixel:nth-of-type(2258),
.pixel:nth-of-type(2301),
.pixel:nth-of-type(2302),
.pixel:nth-of-type(2303),
.pixel:nth-of-type(2336),
.pixel:nth-of-type(2337),
.pixel:nth-of-type(2338),
.pixel:nth-of-type(2341),
.pixel:nth-of-type(2342),
.pixel:nth-of-type(2343),
.pixel:nth-of-type(2344),
.pixel:nth-of-type(2386),
.pixel:nth-of-type(2387),
.pixel:nth-of-type(2388),
.pixel:nth-of-type(2389),
.pixel:nth-of-type(2422),
.pixel:nth-of-type(2423),
.pixel:nth-of-type(2428),
.pixel:nth-of-type(2429),
.pixel:nth-of-type(2430),
.pixel:nth-of-type(2472),
.pixel:nth-of-type(2473),
.pixel:nth-of-type(2474),
.pixel:nth-of-type(2475),
.pixel:nth-of-type(2508),
.pixel:nth-of-type(2509),
.pixel:nth-of-type(2514),
.pixel:nth-of-type(2515),
.pixel:nth-of-type(2517),
.pixel:nth-of-type(2557),
.pixel:nth-of-type(2558),
.pixel:nth-of-type(2559),
.pixel:nth-of-type(2560),
.pixel:nth-of-type(2561),


.pixel:nth-of-type(1999)


 {
    background-color: #1f4152;
}

/* belly
yellow #e7e17a */
.pixel:nth-of-type(2378),
.pixel:nth-of-type(2463),

.pixel:nth-of-type(2207)


{
    background-color: #e7e17a;
}
/* yellow shadow #e4b65c */
.pixel:nth-of-type(1067) {
    background-color: #e4b65c;
}

/* flames
yellow #f5d91f */

.pixel:nth-of-type(488),
.pixel:nth-of-type(496),
.pixel:nth-of-type(573),
.pixel:nth-of-type(581),
.pixel:nth-of-type(582),
.pixel:nth-of-type(658),
.pixel:nth-of-type(659),
.pixel:nth-of-type(667),
.pixel:nth-of-type(744),
.pixel:nth-of-type(745),
.pixel:nth-of-type(749),
.pixel:nth-of-type(752),
.pixel:nth-of-type(829),
.pixel:nth-of-type(830),
.pixel:nth-of-type(834),
.pixel:nth-of-type(835),
.pixel:nth-of-type(836),
.pixel:nth-of-type(914),
.pixel:nth-of-type(915),
.pixel:nth-of-type(920),
.pixel:nth-of-type(921),
.pixel:nth-of-type(925),
.pixel:nth-of-type(999),
.pixel:nth-of-type(1000),
.pixel:nth-of-type(1001),
.pixel:nth-of-type(1007),
.pixel:nth-of-type(1008),
.pixel:nth-of-type(1009),
.pixel:nth-of-type(1010),
.pixel:nth-of-type(1085),
.pixel:nth-of-type(1086),
.pixel:nth-of-type(1087),
.pixel:nth-of-type(1088),
.pixel:nth-of-type(1095),
.pixel:nth-of-type(1171),
.pixel:nth-of-type(1172),
.pixel:nth-of-type(1173),
.pixel:nth-of-type(1174),
.pixel:nth-of-type(1175),
.pixel:nth-of-type(1260),
.pixel:nth-of-type(1261),
.pixel:nth-of-type(1262),
.pixel:nth-of-type(1346),
.pixel:nth-of-type(1347),
.pixel:nth-of-type(1348),
.pixel:nth-of-type(1431),
.pixel:nth-of-type(1432),
.pixel:nth-of-type(1433),
.pixel:nth-of-type(1434),
.pixel:nth-of-type(1435),
.pixel:nth-of-type(1517),
.pixel:nth-of-type(1520),
.pixel:nth-of-type(1521),
.pixel:nth-of-type(1603)


{
    background-color: #f5d91f;/* flames
    yellow #f5d91f */
}
/* orange #eba721 */
.pixel:nth-of-type(411),
.pixel:nth-of-type(489),
.pixel:nth-of-type(495),
.pixel:nth-of-type(663),
.pixel:nth-of-type(666),
.pixel:nth-of-type(743),
.pixel:nth-of-type(746),
.pixel:nth-of-type(748),
.pixel:nth-of-type(750),
.pixel:nth-of-type(833),
.pixel:nth-of-type(913),
.pixel:nth-of-type(922),
.pixel:nth-of-type(924),
.pixel:nth-of-type(998),
.pixel:nth-of-type(1011),
.pixel:nth-of-type(1084),
.pixel:nth-of-type(1096),
.pixel:nth-of-type(1258),
.pixel:nth-of-type(1259),
.pixel:nth-of-type(1345),
.pixel:nth-of-type(1430),
.pixel:nth-of-type(1516),
.pixel:nth-of-type(1518),
.pixel:nth-of-type(1519),
.pixel:nth-of-type(1606),
.pixel:nth-of-type(1689)

{
    background-color: #eba721;/* orange #eba721 */
}
/* red #da4623 */
.pixel:nth-of-type(63), 
.pixel:nth-of-type(147), 
.pixel:nth-of-type(148), 
.pixel:nth-of-type(231), 
.pixel:nth-of-type(232),
.pixel:nth-of-type(233),
.pixel:nth-of-type(239),
.pixel:nth-of-type(240),
.pixel:nth-of-type(243),
.pixel:nth-of-type(316), 
.pixel:nth-of-type(317),
.pixel:nth-of-type(318), 
.pixel:nth-of-type(319), 
.pixel:nth-of-type(323), 
.pixel:nth-of-type(324), 
.pixel:nth-of-type(325), 
.pixel:nth-of-type(326), 
.pixel:nth-of-type(327), 
.pixel:nth-of-type(328),
.pixel:nth-of-type(401), 
.pixel:nth-of-type(402), 
.pixel:nth-of-type(403),
.pixel:nth-of-type(404), 
.pixel:nth-of-type(407), 
.pixel:nth-of-type(408), 
.pixel:nth-of-type(409), 
.pixel:nth-of-type(410),
.pixel:nth-of-type(412),
.pixel:nth-of-type(487),
.pixel:nth-of-type(490), 
.pixel:nth-of-type(492), 
.pixel:nth-of-type(493), 
.pixel:nth-of-type(494),
.pixel:nth-of-type(497),
.pixel:nth-of-type(571),
.pixel:nth-of-type(572),
.pixel:nth-of-type(574),
.pixel:nth-of-type(575),
.pixel:nth-of-type(576),
.pixel:nth-of-type(577),
.pixel:nth-of-type(578),
.pixel:nth-of-type(579),
.pixel:nth-of-type(580),
.pixel:nth-of-type(653),
.pixel:nth-of-type(656),
.pixel:nth-of-type(657),
.pixel:nth-of-type(660),
.pixel:nth-of-type(661),
.pixel:nth-of-type(662),
.pixel:nth-of-type(664),
.pixel:nth-of-type(665),
.pixel:nth-of-type(668),
.pixel:nth-of-type(739),
.pixel:nth-of-type(740),
.pixel:nth-of-type(741),
.pixel:nth-of-type(742),
.pixel:nth-of-type(747),
.pixel:nth-of-type(751),
.pixel:nth-of-type(753),
.pixel:nth-of-type(754),
.pixel:nth-of-type(755),
.pixel:nth-of-type(825),
.pixel:nth-of-type(826),
.pixel:nth-of-type(827),
.pixel:nth-of-type(828),
.pixel:nth-of-type(837),
.pixel:nth-of-type(838),
.pixel:nth-of-type(839),
.pixel:nth-of-type(840),
.pixel:nth-of-type(841),
.pixel:nth-of-type(912),
.pixel:nth-of-type(923),
.pixel:nth-of-type(926),
.pixel:nth-of-type(927),
.pixel:nth-of-type(1012),
.pixel:nth-of-type(1257),
.pixel:nth-of-type(1343),
.pixel:nth-of-type(1344),
.pixel:nth-of-type(1428),
.pixel:nth-of-type(1429),
.pixel:nth-of-type(1514),
.pixel:nth-of-type(1515),
.pixel:nth-of-type(1601),
.pixel:nth-of-type(1602),
.pixel:nth-of-type(1607),
.pixel:nth-of-type(1608),
.pixel:nth-of-type(1688),
.pixel:nth-of-type(1692),
.pixel:nth-of-type(1693)


{
    background-color: #da4623; /* red #da4623 */
}

/* border
brown #7b3521 */
.pixel:nth-of-type(133),
.pixel:nth-of-type(218),
.pixel:nth-of-type(303),
.pixel:nth-of-type(388),
.pixel:nth-of-type(472),
.pixel:nth-of-type(473),
.pixel:nth-of-type(555),
.pixel:nth-of-type(639),
.pixel:nth-of-type(640),
.pixel:nth-of-type(807),
.pixel:nth-of-type(892),
.pixel:nth-of-type(977),
.pixel:nth-of-type(1062),
.pixel:nth-of-type(1065),
.pixel:nth-of-type(1071),
.pixel:nth-of-type(1072),
.pixel:nth-of-type(1140),
.pixel:nth-of-type(1141),
.pixel:nth-of-type(1151),
.pixel:nth-of-type(1155),
.pixel:nth-of-type(1156),
.pixel:nth-of-type(1158),
.pixel:nth-of-type(1183),
.pixel:nth-of-type(1184),
.pixel:nth-of-type(1225),
.pixel:nth-of-type(1228),
.pixel:nth-of-type(1235),
.pixel:nth-of-type(1236),
.pixel:nth-of-type(1238),
.pixel:nth-of-type(1240),
.pixel:nth-of-type(1271),
.pixel:nth-of-type(1272),
.pixel:nth-of-type(1273),
.pixel:nth-of-type(1310),
.pixel:nth-of-type(1322),
.pixel:nth-of-type(1325),
.pixel:nth-of-type(1360),
.pixel:nth-of-type(1361),
.pixel:nth-of-type(1362),
.pixel:nth-of-type(1399),
.pixel:nth-of-type(1481),
.pixel:nth-of-type(1492),
.pixel:nth-of-type(1505),
.pixel:nth-of-type(1566),
.pixel:nth-of-type(1570),
.pixel:nth-of-type(1576),
.pixel:nth-of-type(1577),
.pixel:nth-of-type(1604),
.pixel:nth-of-type(1605),
.pixel:nth-of-type(1651),
.pixel:nth-of-type(1661),
.pixel:nth-of-type(1672),
.pixel:nth-of-type(1690),
.pixel:nth-of-type(1691),
.pixel:nth-of-type(1735),
.pixel:nth-of-type(1747),
.pixel:nth-of-type(1750),
.pixel:nth-of-type(1756),
.pixel:nth-of-type(1757),
.pixel:nth-of-type(1776),
.pixel:nth-of-type(1777),
.pixel:nth-of-type(1778),
.pixel:nth-of-type(1820),
.pixel:nth-of-type(1834),
.pixel:nth-of-type(1840),
.pixel:nth-of-type(1848),
.pixel:nth-of-type(1849),
.pixel:nth-of-type(1850),
.pixel:nth-of-type(1862),
.pixel:nth-of-type(1864),
.pixel:nth-of-type(1905),
.pixel:nth-of-type(1927),
.pixel:nth-of-type(1935),
.pixel:nth-of-type(1948),
.pixel:nth-of-type(1990),
.pixel:nth-of-type(2010),
.pixel:nth-of-type(2012),
.pixel:nth-of-type(2015),
.pixel:nth-of-type(2021),
.pixel:nth-of-type(2033),
.pixel:nth-of-type(2107),
.pixel:nth-of-type(2116),
.pixel:nth-of-type(2119),
.pixel:nth-of-type(2140),
.pixel:nth-of-type(2161),
.pixel:nth-of-type(2204),
.pixel:nth-of-type(2226),
.pixel:nth-of-type(2247),
.pixel:nth-of-type(2293),
.pixel:nth-of-type(2313),
.pixel:nth-of-type(2333),
.pixel:nth-of-type(2346),
.pixel:nth-of-type(2399),
.pixel:nth-of-type(2419),
.pixel:nth-of-type(2433),
.pixel:nth-of-type(2461),
.pixel:nth-of-type(2486),
.pixel:nth-of-type(2505),



.pixel:nth-of-type(2572)

{
    background-color: #7b3521; /*brown #7b3521 */
}

/* nails
grey #cbcbcb */

pixel:nth-of-type(1) {
    background-color: #cbcbcb;
}

/* white */
.pixel:nth-of-type(1157),
.pixel:nth-of-type(1242),
.pixel:nth-of-type(1243),
.pixel:nth-of-type(1328),
.pixel:nth-of-type(1926)

 {
    background-color: #ffffff;
}

/* black */

.pixel:nth-of-type(124),
.pixel:nth-of-type(125),
.pixel:nth-of-type(134),
.pixel:nth-of-type(209),
.pixel:nth-of-type(212),
.pixel:nth-of-type(221),
.pixel:nth-of-type(295),
.pixel:nth-of-type(298),
.pixel:nth-of-type(307),
.pixel:nth-of-type(380),
.pixel:nth-of-type(383),
.pixel:nth-of-type(392),
.pixel:nth-of-type(466),
.pixel:nth-of-type(469),
.pixel:nth-of-type(478),
.pixel:nth-of-type(551),
.pixel:nth-of-type(556),
.pixel:nth-of-type(557),
.pixel:nth-of-type(563),
.pixel:nth-of-type(636),
.pixel:nth-of-type(649),
.pixel:nth-of-type(722),
.pixel:nth-of-type(734),
.pixel:nth-of-type(820),
.pixel:nth-of-type(831),
.pixel:nth-of-type(832),
.pixel:nth-of-type(907),
.pixel:nth-of-type(916),
.pixel:nth-of-type(919),
.pixel:nth-of-type(994),
.pixel:nth-of-type(1002),
.pixel:nth-of-type(1006),
.pixel:nth-of-type(1080),
.pixel:nth-of-type(1089),
.pixel:nth-of-type(1093),
.pixel:nth-of-type(1094),
.pixel:nth-of-type(1148),
.pixel:nth-of-type(1167),
.pixel:nth-of-type(1176),
.pixel:nth-of-type(1181),
.pixel:nth-of-type(1182),
.pixel:nth-of-type(1234),
.pixel:nth-of-type(1253),
.pixel:nth-of-type(1263),
.pixel:nth-of-type(1314),
.pixel:nth-of-type(1321),
.pixel:nth-of-type(1326),
.pixel:nth-of-type(1340),
.pixel:nth-of-type(1349),
.pixel:nth-of-type(1407),
.pixel:nth-of-type(1426),
.pixel:nth-of-type(1436),
.pixel:nth-of-type(1440),
.pixel:nth-of-type(1441),
.pixel:nth-of-type(1442),
.pixel:nth-of-type(1443),
.pixel:nth-of-type(1444),
.pixel:nth-of-type(1449),
.pixel:nth-of-type(1485),
.pixel:nth-of-type(1503),
.pixel:nth-of-type(1504),
.pixel:nth-of-type(1512),
.pixel:nth-of-type(1522),
.pixel:nth-of-type(1525),
.pixel:nth-of-type(1531),
.pixel:nth-of-type(1532),
.pixel:nth-of-type(1535),
.pixel:nth-of-type(1588),
.pixel:nth-of-type(1599),
.pixel:nth-of-type(1609),
.pixel:nth-of-type(1618),
.pixel:nth-of-type(1621),
.pixel:nth-of-type(1656),
.pixel:nth-of-type(1673),
.pixel:nth-of-type(1685),
.pixel:nth-of-type(1695),
.pixel:nth-of-type(1705),
.pixel:nth-of-type(1708),
.pixel:nth-of-type(1742),
.pixel:nth-of-type(1771),
.pixel:nth-of-type(1782),
.pixel:nth-of-type(1791),
.pixel:nth-of-type(1794),
.pixel:nth-of-type(1825),
.pixel:nth-of-type(1826),
.pixel:nth-of-type(1829),
.pixel:nth-of-type(1841),
.pixel:nth-of-type(1858),
.pixel:nth-of-type(1868),
.pixel:nth-of-type(1878),
.pixel:nth-of-type(1880),
.pixel:nth-of-type(1909),
.pixel:nth-of-type(1915),
.pixel:nth-of-type(1920),
.pixel:nth-of-type(1925),
.pixel:nth-of-type(1932),
.pixel:nth-of-type(1933),
.pixel:nth-of-type(1934),
.pixel:nth-of-type(1944),
.pixel:nth-of-type(1950),
.pixel:nth-of-type(1954),
.pixel:nth-of-type(1964),
.pixel:nth-of-type(1967),
.pixel:nth-of-type(1993),
.pixel:nth-of-type(2001),
.pixel:nth-of-type(2007),
.pixel:nth-of-type(2016),
.pixel:nth-of-type(2017),
.pixel:nth-of-type(2020),
.pixel:nth-of-type(2030),
.pixel:nth-of-type(2036),
.pixel:nth-of-type(2041),
.pixel:nth-of-type(2050),
.pixel:nth-of-type(2053),
.pixel:nth-of-type(2078),
.pixel:nth-of-type(2087),
.pixel:nth-of-type(2094),
.pixel:nth-of-type(2095),
.pixel:nth-of-type(2096),
.pixel:nth-of-type(2100),
.pixel:nth-of-type(2122),
.pixel:nth-of-type(2127),
.pixel:nth-of-type(2137),
.pixel:nth-of-type(2164),
.pixel:nth-of-type(2174),
.pixel:nth-of-type(2183),
.pixel:nth-of-type(2184),
.pixel:nth-of-type(2185),
.pixel:nth-of-type(2193),
.pixel:nth-of-type(2203),
.pixel:nth-of-type(2208),
.pixel:nth-of-type(2213),
.pixel:nth-of-type(2224),
.pixel:nth-of-type(2260),
.pixel:nth-of-type(2279),
.pixel:nth-of-type(2289),
.pixel:nth-of-type(2298),
.pixel:nth-of-type(2310),
.pixel:nth-of-type(2335),
.pixel:nth-of-type(2365),
.pixel:nth-of-type(2375),
.pixel:nth-of-type(2379),
.pixel:nth-of-type(2384),
.pixel:nth-of-type(2397),
.pixel:nth-of-type(2421),
.pixel:nth-of-type(2434),
.pixel:nth-of-type(2435),
.pixel:nth-of-type(2451),
.pixel:nth-of-type(2464),
.pixel:nth-of-type(2468),
.pixel:nth-of-type(2469),
.pixel:nth-of-type(2483),
.pixel:nth-of-type(2507),
.pixel:nth-of-type(2522),
.pixel:nth-of-type(2523),
.pixel:nth-of-type(2524),
.pixel:nth-of-type(2537),
.pixel:nth-of-type(2548),
.pixel:nth-of-type(2549),
.pixel:nth-of-type(2552),
.pixel:nth-of-type(2553),


.pixel:nth-of-type(2570)



{
    background-color: #000000;
}

