*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topcircle {
  height: 150px;
  width: 300px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 300px 300px 0 0;
  border: 10px solid black;  
}

.eye {
  height: 100px;
  width: 100px;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid black;
  border-radius: 50%;
  z-index: 1;
}

.innereye{
    height: 60px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

.botcircle{
    height: 150px;
    width: 300px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1.5%);
    border-radius: 0 0 300px 300px;
    border: 10px solid black;  
}
