body {
	background-image: repeating-radial-gradient(#AD9186,#74ADA6,#FFFAF7);}

div#head {
	  height: 200px;
	  width: 200px;
	  margin-top: 50px;
	  margin-right: 50px;
	  margin-left: 100px;
	  background-color: #fae3d9;
	  animation: rotate 1s linear 3s infinite normal;
	}

 div#body {
      width: 0;
      height: 0;
      margin-left: 150px;
      margin-right: 50px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #D9FAF6;
      animation: moveForward 1s linear 3s infinite normal;
    }
@keyframes rotate {
  0% {transform: translate(50px, 0px) rotate(0deg) ;}
  25% {transform:translate(200px, 0px) rotate(30deg) ;}
  50% {transform:translate(400px, 0px) rotate(0deg) ;}
  75% {transform:translate(600px, 0px) rotate(-30deg) ;}
  100% {transform:translate(800px, 0px) rotate(0deg) ;}
}

@keyframes moveForward {
  0%{transform: translate(50px, 0px);}
  25%{transform: translate(200px, 0px);}
  50%{transform: translate(400px, 0px);}
  75%{transform: translate(600px, 0px);}
  100%{transform: translate(800px, 0px);}
}

