.box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
  }
  
  .head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 210px;
    width: 200px;
    background-color: #f3f304;
    border-radius: 50%;
    z-index: 0;
    box-shadow: 5px 5px 10px;
  }
  
  .eyes {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 200px;
    z-index: 2;
  }
  
  .leye {
    position: absolute;
    background-color: white;
    left: 20%;
    height: 60px;
    width: 40px;
    z-index: 2;
    border-radius: 43%;
  }
  
  .reye {
    position: absolute;
    background-color: white;
    right: 20%;
    height: 60px;
    width: 40px;
    z-index: 2;
    border-radius: 43%;
  }
  
  .lebulb {
    position: absolute;
    background-color: black;
    left: 17%;
    top: 10%;
    height: 45px;
    width: 30px;
    z-index: 2;
    border-radius: 50%;
  }
  
  .rebulb {
    position: absolute;
    background-color: black;
    right: 17%;
    top: 10%;
    height: 45px;
    width: 30px;
    z-index: 2;
    border-radius: 50%;
  }
  
  .nose {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 48%;
    top: 50%;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid black;
  }
  
  .mouth {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 50px;
    z-index: 1;
  }
  
  .mouth1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
  }
  
  .mouth2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    height: 40px;
    border-radius: 50%;
    background-color: #f3f304;
    z-index: 2;
  }
  