*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
}

grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap: 100px;
    padding: 50px

}

div.top {
    width: 200px;
    height: 200px;
    justify-self: center; 
}

div {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    animation-name: spin;
    animation-duration: 100s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spin{
    from {}
    to{transform:rotate(360deg);}
}

h1{
    font-family: monospace;
    font-size: 1rem;
}

.blue {
    background: #515380;
}

.black {
    background: #0E0707;
}

.green {
    background: #17C87D;
}
