body{
    background: white;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 420px;
    height: 420px;
    background: none;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: hover;
}
@keyframes hover {
    from {
        top: 10px;
    }
    to {
        top: 30px;
    }
}

.torso{
    position: absolute;
    top:15%;
    left: 25%;
    width: 50%;
    height: 67%;
    background: white;
    border-radius: 50% 50% 0 0;
    box-shadow:
            0 -5px 40px rgba(256, 256, 256, .5),
            -5px -5px 40px rgba(0, 0, 0, .5),
            5px -5px 40px rgba(0, 0, 0, .5);
}

.left-arm{
    position: absolute;
    background: white;
    width: 30%;
    height: 30%;
    top: 45%;
    left: 85%;
    border-radius: 50%;
    z-index: 3;
}
.right-arm{
    position: absolute;
    background: white;
    width: 30%;
    height: 30%;
    top: 45%;
    right: 85%;
    border-radius: 50%;
    z-index: 3;
}

.left-eye{
    position: absolute;
    width: 10%;
    height: 15%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background: black;
}
.right-eye{
    position: absolute;
    width: 10%;
    height: 15%;
    top: 25%;
    right: 25%;
    border-radius: 50%;
    background: black;
}
.mouth{
    position: absolute;
    width: 10%;
    height: 25%;
    top: 45%;
    left: 45%;
    border-radius: 50%;
    background: black;
    z-index: 3;
}

.triangle1 {
    position: absolute;
    top: 99%;
    left: 70%;
    width: 30%;
    height: 40%;
    background: white;
    -webkit-clip-path: polygon(29% 100%, 0 0, 100% 0);
    clip-path: polygon(29% 100%, 0 0, 100% 0);
}

.triangle2 {
    position: absolute;
    top: 99%;
    left: 40%;
    width: 50%;
    height: 40%;
    background: white;
    -webkit-clip-path: polygon(44% 31%, 0 0, 100% 0);
    clip-path: polygon(44% 31%, 0 0, 100% 0);;
}

.triangle3 {
    position: absolute;
    top: 99%;
    left: 0%;
    width: 41%;
    height: 30%;
    background: white;
    -webkit-clip-path: polygon(81% 100%, 0 0, 100% 0);
    clip-path: polygon(81% 100%, 0 0, 100% 0);
}
