
html, body {
    background-color: #3E463E;
}

.upper-apple {
    background: linear-gradient(to left bottom, rgba(141, 182, 0,1), rgba(52, 67, 0,1));
    width: 300px;
    height: 150px;
    -webkit-clip-path: polygon(70% 24%, 89% 5%, 85% 31%, 73% 61%, 55% 82%, 37% 100%, 43% 74%, 53% 49%);
    clip-path: polygon(70% 24%, 89% 5%, 85% 31%, 73% 61%, 55% 82%, 37% 100%, 43% 74%, 53% 49%);
    margin: 2% auto 1% auto;
    
}

.apple {
    background: linear-gradient(to left bottom, rgba(141, 182, 0,1), rgba(52, 67, 0,1));
    width: 400px;
    height: 300px;
    border-radius: 500px;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
}

.apple::after {
    content: "HELLO HACKTOBER FEST!";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background: linear-gradient(to left bottom, rgba(0,0,0,1), rgba(110,18,120,1));
    border-radius: 500px;
    text-align: center;
    font-size: 2rem;
    line-height: 9;
    color: #3A76C9;
}

.apple:hover::after {
    transform: scale(2.1);
    /* opacity: 0; */
    z-index: 2;
}

.text {
    display: inline-block;
    padding-top: 50%;
    transform: translateY(-30%);
    font-size: 24px;
} 

.hover-me {
    text-transform: uppercase;
}
