body{
  background: #FFFFFF;
}

.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
  border: solid 4px #25A9FC;
}

.circle-1{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #25A9FC;
  border-radius: 50%;
}

.circle-1-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #25A9FC;
  border-radius: 50%;
  z-index: 2;
}

.upper-circle{
  position: absolute;
  width: 50%;
  height: 55%;
  left: -5%;
  top: 0%;
  background: #25A9FC;
  border-radius: 50%;
  z-index: 1;
}

.lower-circle{
	position: absolute;
	width: 50%;
	height: 55%;
	top: 45%;
	right: -5%;
	background: #25A9FC;
	border-radius: 50%;
	z-index: 1;
}

.text-s{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 250px;
	font-weight: bolder;
	left: 23%;
	top: 0%;
	z-index: 3;
}
