#position{
  position:fixed;
  bottom:180px;
  left:25px;
}
.sunflower{
  position:relative;
  height:30px;
  width:30px;
}
.head {
  animation: hmove 2s infinite linear;
  height: 50px;
  width: 62px;
  position: relative;
  left:8px;
  top:39px;
  transform-origin: 50% -7px;
  user-select: none;
}
.head .eye {
  background: #43699a;
  border-radius: 10px;
  height: 5px;
  position: absolute;
  top: 30px;
  width: 5px;
}
.head .eye#eye-1 {
  left: 5px;
   
}
.head .eye#eye-2 {
  right: 25px;

}
.head .mouth {
  background: #ecf0f1;
  border-radius: 30px;
  bottom: 2px;
  clip: rect(8px, 15px, 16px, 0);
  height: 16px;
  margin-left: -17.5px;
  position: absolute;
  left: 50%;
  width: 15px;
}

.petals {
  z-index:-1;
  border-radius:100%;
  display:inline-block;
  background-color:#faaa18;
  height:50px;
  width:50px;
  position:absolute;
  animation:petals 2s infinite linear;
  box-shadow:15px 17px #ffe000,
    -15px 17px #ffe000,
    -22px -7px #ffe000,
    0px -22px #ffe000,
    22px -7px #ffe000;
}
