body {
  background-color: #010101;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  width: 200px;
  height: 200px;
  background-color: white;

  border-radius: 50%;
  box-shadow: 0 0 50px rgb(240, 244, 242);
}
.earth {
  position: absolute;
  left: 10px;
  top: 1px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #010101;
  box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
  animation: eclipse 8s linear;
  transform-origin: 50% 150%;
  transform: rotate(-60deg);
}
@keyframes eclipse {
  0% {
    transform: rotate(-60deg);
  }

  100% {
    transform: rotate(20deg);
  }
}
