@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(177, 177, 177);
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card{
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.poster{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before{
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img{
    position: absolute;
    top: 9;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img{
    transform: scale(1.1);
}

.details{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 24px 24px 32px;
    background: rgba(112, 112, 112, 0.667);
    transition:  0.3s;
    z-index: 2;
    color: #fff;
    border-radius: 22px;
}

.card:hover .details{
    bottom: 0;
}

.details h1{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

.details h2{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    opacity: .8;
}

.details .rating{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: 4px;
}

.rating i{
    color: gold;
}

.rating span {
    margin-left: 0.25em;
}

.description {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.cast h3 {
    margin-bottom: .5em;
}

.cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}


