body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
h2{
    text-align: center;
}
.container{
    min-width: 100vw;
    min-height: 100vh;
    background-color:#00ffff;
    position: absolute;
    display:flex;
    animation-name: example1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* .main{
    height:200px;
    width:200px;
    margin-left: 30px;
    margin-top:0;
    background-color:blue;
    position: relative;
} */

.main {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top:0;
    position: relative;
    transition:all ease-in-out;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color:rgb(229, 255, 0); left:0px; top:0px; border-radius:0px;}
    25%  {background-color:rgb(255, 0, 179); left:200px; top:0px;border-radius:20px;}
    50%  {background-color:rgba(0, 0, 255, 0.815); left:200px; top:400px; border-radius:40px;}
    75%  {background-color:rgb(226, 47, 62); left:0px; top:400px; border: radius 60px;}
    100% {background-color:rgb(229, 255, 0); left:0px; top:0px;border-radius:80px;}
  }

  @keyframes example1 {
    0%   {background-color:rgb(255, 102, 0);}
    25%  {background-color:rgb(30, 255, 0);}
    50%  {background-color:rgb(0, 183, 255);}
    75%  {background-color:rgb(128, 0, 96);}
    100% {background-color:rgb(255, 102, 0);}
  }