body {
    background-color: #cce9fa;
}
.centered{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#image {
    animation: movement 5s infinite;
}
#outer-circle {
    background-color: rgb(35, 112, 255);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#inner-circle {
    background-color: rgb(230, 230, 230);
    height: 280px;
    width: 280px;
    border-radius: 50%;
    top: -290px;
}
#little_hand {
    background-color: #000000;
    width: 130px;
    height: 10px;
    top: -430px;
    left: 60px;
}

@keyframes movement {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}