html {
	background-image: linear-gradient(#33539C 50%, #55AA55 50%);
}

.rabbit-box {
	position: relative;
	margin: auto;
	display: block;
	width: 1000px;
	height: 1000px;
	background: none;
}

.rabbit {
	position: absolute;
	left: 10%;
	top: 10%;
	height: 80%;
	width: 40%;
}

.rabbit:hover {
	top: 25%;
}

.head {
	position: absolute;
	height: 25%;
	width: 50%;
	border: 0px solid black;
	top: 25%;
	right: 18%;
	border-radius: 50%;
	background-color: gray;
	z-index: 1;
}
.left-ear {
	position: absolute;
	height: 28%;
	width: 14%;
	border: 0px solid black;
	border-radius: 50%;
	background-color: gray;
	top: 3%;
	right: 48%;
	transform: rotate(-15deg);
}
.right-ear {
	position: absolute;
	height: 28%;
	width: 14%;
	border: 0px solid black;
	border-radius: 50%;
	background-color: gray;
	top: 3%;
	right: 25%;
	transform: rotate(15deg);
}

.inner-ear {
	position: absolute;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	border: 0px solid black;
	border-radius: 50%;
	background-color: #EFCACA;
}

.left-eye {
	position: absolute;
	height: 25%;
	width: 25%;
	top: 30%;
	right: 49%;
	background-color: white;
	border: 0px solid white;
	border-radius: 50%;
}

.right-eye {
	position: absolute;
	height: 25%;
	width: 25%;
	top: 30%;
	right: 26%;
	background-color: white;
	border: 0px solid white;
	border-radius: 50%;
}

.eye-pupil {
	position: absolute;
	height: 20%;
	width: 20%;
	border: 0px solid black;
	border-radius: 50%;
	background-color: black;
	top: 40%;
	right: 40%
}

.left-eyebrow {
	position: absolute;
	height: 3%;
	width: 14%;
	top: 15%;
	right: 55%;
	background-color: black;
	transform: rotate(-15deg);
}

.right-eyebrow {
	position: absolute;
	height: 3%;
	width: 14%;
	top: 15%;
	right: 31%;
	background-color: black;
	transform: rotate(15deg);
}

.nose {
	position: absolute;
	background-color: #EFCACA;
	height: 15%;
	width: 15%;
	top: 60%;
	right: 42%;
	-webkit-clip-path: polygon(100% 0, 0 0, 51% 60%);
	clip-path: polygon(100% 0, 0 0, 51% 60%);
}

.right-cheek {
	position: absolute;
	height: 10%;
	width: 13%;
	top: 66%;
	right: 36.7%;
	border-bottom: 4px solid black;
	border-radius: 50%;
	transform: rotate(30deg);
	z-index: 3;
	background-color: gray;
}

.left-cheek {
	position: absolute;
	height: 10%;
	width: 13%;
	top: 66%;
	right: 49.1%;
	transform: scaleX(-1) rotate(30deg);
	border-bottom: 4px solid black;
	border-radius: 50%;
	z-index: 3;
	background-color: gray;
}

.whiskers-1 {
	position: absolute;
	width: 75%;
	height: 6%;
	left: 10%;
	top: 10%;
	transform: rotate(-10deg);
	background-color: black;
}

.whiskers-2 {
	position: absolute;
	width: 75%;
	height: 6%;
	left: 10%;
	top: 20%;
	background-color: black;
}

.whiskers-3 {
	position: absolute;
	width: 75%;
	height: 6%;
	left: 10%;
	top: 30%;
	transform: rotate(10deg);
	background-color: black;
}

.teeth {
	position: absolute;
	width: 13%;
	height: 15%;
	border-bottom: 0px solid white;
	border-radius: 50%;
	background-color: white;
	top: 70%;
	right: 43%;
	z-index: 2;
}

img {
	position: absolute;
	top: 40%;
	left: 15%;
	z-index: 5;
	
}