.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 500px;
}

.letter {
    font-size: 100px;
    animation: move-and-change-color 3s ease-in-out infinite;
    background: linear-gradient(to right, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-style: preserve-3d;
}

@keyframes move-and-change-color {
    0% {
        transform: rotateY(0deg) translateZ(50px);
    }

    50% {
        transform: rotateY(180deg) translateZ(50px);
    }

    100% {
        transform: rotateY(0deg) translateZ(50px);
    }
}