.winrotate{
	height: 300px;
	width: 300px;
	}
.hoverme:hover{
	animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}