h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #5f93e8;
}

.robots {
	display: flex;
	justify-content: center;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
	 background-color: #5f93e8;
}

.head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-delay: 5.5s;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); background-color: pink;
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.eyes {
	display: flex;
}

.upper_body {
	width: 300px;
	height: 150px;
	display: flex;
	animation-name: jello;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	animation-delay: 5.5s;
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}

.left_arm {
	margin-right: 10px;
	animation-name: wobble;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	background-color: pink;
	animation-delay: 5.5s;
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.right_arm {
	margin-left: 10px;
	animation-name: wobble;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	background-color: pink;
	animation-delay: 5.5s;
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;

}

.lower_body {
	width: 200px;
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

}

.left_leg, .right_leg {
	width: 40px;
	height: 120px;
	border-radius: 0 0 100px 100px;

}

.left_leg {
	margin-left: 45px;
	margin-top: 65px;
	animation-name: swing;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	background-color: pink;
	animation-delay: 5.5s;
	}

	@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.right_leg {
	margin-top: -120px;
	margin-left: 120px;
	animation-name: swing;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	background-color: pink;
	animation-delay: 5.5s;
}

@keyframes swing {
20% {
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, -15deg);
}

40% {
	-webkit-transform: rotate3d(0, 0, 1, -10deg);
	transform: rotate3d(0, 0, 1, 10deg);
}

60% {
	-webkit-transform: rotate3d(0, 0, 1, 5deg);
	transform: rotate3d(0, 0, 1, -5deg);
}

80% {
	-webkit-transform: rotate3d(0, 0, 1, -5deg);
	transform: rotate3d(0, 0, 1, 5deg);
}

to {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: white;
}

.left_eye {
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative;
	top: 100px;
	left: 40px;
}

.right_eye {
	position: relative;
	top: 100px;
	left: 120px;
}

.container {
	display:flex;
	justify-content: center;
}

h2 {
	display: flex;
  justify-content: center;
	color: pink;
	border: 5px dashed black;
	font-size: 30px;
	animation-name: zoomInUp;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	background-color: #5f93e8;

}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
