html,
body {
  margin: 0;
  padding: 0;
}
.cub {
  align-items: center;
  background-color: #6BB9F0;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: -4;
}
.cub__head {
  background-color: #f59412;
  border-radius: 50%;
  height: 500px;
  position: relative;
  width: 500px;
}
.cub__head::after, .cub__head::before {
  background-color: #bc6d20;
  border: 25px solid #f59412;
  border-radius: 90px 90px 0 0;
  content: '';
  height: 90px;
  position: absolute;
  width: 125px;
}
.cub__head::after {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}
.cub__head::before {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -2;
}
.cub__eyes {
  background-color: #000;
  border-radius: 0 0 90px 90px;
  height: 50px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  width: 100px;
  z-index: 10;
}
.cub__eyes::after, .cub__eyes::before {
  background-color: #000;
  border-radius: 50%;
  content: '●';
  color: #FFF;
  height: 50px;
  position: absolute;
  text-indent: 25px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 50px;
}
.cub__eyes::before {
  left: 150px;
}
.cub__eyes::after {
  right: 150px;
}
.cub__nose {
  background-color: #EC644B;
  box-shadow: 0 0 0 6px #FFF;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
}
.cub__nose, .cub__nose::after, .cub__nose::before {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.cub__nose::after, .cub__nose::before {
  background-color: #FFF;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: -37px;
}
.cub__nose::after {
  left: 50px;
}
.cub__nose::before {
  right: 50px;
}
