body {
    background: darkmagenta;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 360px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#bubble {
    border: 0.5px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), inset 0px 5px 20px 2px rgba(255, 255, 255, 1);
}
#bubble::after {
    content: "";
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 5px;
    background: radial-gradient(circle,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
}


.enlarge {
    animation: enlarge 8s linear, bounce 2s ease-in-out alternate infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    0% { transform: scale(0); }
    100% { transform: scale(2); }
}

@keyframes bounce {
    0% {
        margin-left:-20px;
    }
    100% {
        margin-left:20px;
    }
}