@font-face {
  font-family: VT323;
  src: url(./fonts/VT323-Regular.ttf);
}

.container {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-button {
  font-family: VT323;
  background: rgb(244, 245, 146);
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: rgb(255 255 255) 4px 4px 0px inset,
    rgb(246, 201, 86) -4px -4px 0px inset;
  border-radius: 2px;
  padding: 12px 20px;
  color: rgb(30, 22, 23);
  font-size: 18px;
}

button:hover {
  animation-name: light-10;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

@keyframes light-10 {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    opacity: 0.5;
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    opacity: 1;
  }
}
