@keyframes spin {
    from {
        transform: translateX(0px) rotate(0deg);
    }
    to {
        transform: translateX(90vw) rotate(360deg);
    }
}

.canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98vh;
    background-color: green;
}
.soccer-ball {
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
    margin-top: 20em;
    /* z-index: -1; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 15px gray;
}

/* Horizontal Panels */
.horizontal {
    /* z-index: 5; */
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.panel-1a {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    top: 10px;
    right: 3px;
}
.panel-2a {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    bottom: 47px;
    right: 20px;
}
.panel-3a {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    bottom: 47px;
    left: 20px;
}
.panel-4a {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    top: 10px;
    left: 3px;
}

/* Adidas */
.adidas {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-weight: bold;
}

/* Vertical Panels */
.vertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.panel-1b {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    top: 18px;
    rotate: 180deg;
}
.panel-2b {
    position: relative;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: black;
    height: 35px;
    width: 35px;
    top: 27px;
}

/* Goal */

.goal {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 300px;
    background-color: grey;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}
.net {
    position: relative;
    z-index: 1;
    height: 450px;
    width: 250px;
    background-color: white;
    margin-top: 2em;
    margin-left: 1em;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}