* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

.block {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: white;
  opacity: 0.3;
}

.a {
  margin-right: 10px;
  animation: block-a 0.7s ease-out 0s infinite alternate;
}

.b {
  margin-right: 10px;
  animation: block-b 0.7s ease-out 0.2s infinite alternate;
}

.c {
  margin-right: 10px;
  animation: block-c 0.7s ease-out 0.4s infinite alternate;
}

.d {
  animation: block-d 0.7s ease-out 0.4s infinite alternate;
}

@keyframes block-a {
  from {
    height: 20px;
    opacity: 0.3;
    background: white;
  }
  to {
    height: 70px;
    opacity: 1;
    background: #4285f4;
  }
}

@keyframes block-b {
  from {
    height: 20px;
    opacity: 0.3;
    background: white;
  }
  to {
    height: 65px;
    opacity: 1;
    background: #ea4335;
  }
}

@keyframes block-c {
  from {
    height: 20px;
    opacity: 0.3;
    background: white;
  }
  to {
    height: 60px;
    opacity: 1;
    background: #fbbc05;
  }
}

@keyframes block-d {
  from {
    height: 20px;
    opacity: 0.3;
    background: white;
  }
  to {
    height: 60px;
    opacity: 1;
    background: #34a853;
  }
}
