@font-face {
    font-family: 'Painter';
    src: url('Painter.ttf') format('truetype');
}

h1 {
    font-family: 'Painter';
    font-size: 80px;
    text-align: center;
    align-self: center;
    width: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-color: #517f54;
    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
} 

/* create the pumpkin base */
.pumpkin{
	height: 11em;
    width: 15em;
    align-self: center;
	background: #f68632;
	border: 0.4em solid #a14907;
	border-radius: 70%/110%;
	position: relative;
	box-shadow: inset 0 0px 20px #a14907, 0 0 30px -4px red;
	z-index: 1;
}

.pumpkin .surface{
	height: 10.8em;
	width: 6.5em;
	position: absolute;
	bottom: -0.4em;
	left: 4em;
	border-radius: 70%/110%;
	border-bottom: 0.5em solid #a14907;
	border-top: 0.5em solid #a14907;
}

.pumpkin .surface:after{
	content: "";
	display: block;
	height: 10.7em;
	width: 12em;
	position: absolute;
	bottom: -0.4em;
	left: -2.5em;
	border-radius: 70%/110%;
	border-bottom: .05em solid #a14907;
	border-top: 0.5em solid #a14907;
}

.pumpkin .stem{
	background: #517f54;
	height: 2.8em;
	width: 1.25em;
	position: absolute;
	left: calc(7.5em - 0.625em);
	top: -2.7em;
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	border-radius: 30% 20% 70% 10%;
	z-index: -1;
	box-shadow: inset 0 0px 10px #29412b;
}

.pumpkin .eye{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0.8em solid transparent;
	top: 2.8em;
}

.pumpkin .eye.right{
	right: 3.7em;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	border-bottom: 2.1em solid transparent;
	border-left: 2.4em solid #401d03;
}

.pumpkin .eye.left{
	left: 3.7em;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	border-bottom: 2.1em solid transparent;
	border-right: 2.4em solid #401d03;
}

.pumpkin .mouth{
	width: 4em;
	height: 2em;
	position: absolute;
	bottom: 1.5em;
	border-bottom: 1em solid #401d03;
}

.pumpkin .mouth.right{
	right: 3.6em;
	border-radius: 0 0 100% 0;
}

.pumpkin .mouth.left{
	left: 3.6em;
	border-radius: 0 0 0 100%;
}

.pumpkin .teeth{
	width: 0.5em;
	height: 1em;
	position: absolute;
	top: 7.7em;
	left: 7.25em;
	border-top: 0.8em solid transparent;
	border-bottom: 0em solid transparent;
	border-left: 0.8em solid #401d03;
}

.pumpkin .teeth:before, .pumpkin .teeth:after{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0.8em solid transparent;
}

.pumpkin .teeth:before{
	right: 2.2em;
	top: -0.65em;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	border-bottom: 0.5em solid transparent;
	border-left: 1em solid #401d03;
}

.pumpkin .teeth:after{
	left: 1em;
	top: -0.85;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	border-bottom: 0.5em solid transparent;
	border-left: 1em solid #401d03;
}

html, body{
	width: 100%;
	height: 100%;
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,68,13,0.8624182949547006) 100%, rgba(0,212,255,1) 100%);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}