body,html{
    height: 100%;
    margin: 0;
    background:#F9E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, minmax(10px, auto));
    height: 700px;
    background:#F9E8E8;
    width: 1000px;
    margin: auto;
  }
  .top{
    height: 10px;
    width: 80px;
    z-index: 0;
    top: 150px;
    left: 490px;
    position: relative;
    background: #64D5E2;
    border-radius: 10px 10px 0 0;
    border: 1.5px solid #62566F;
    border-bottom: 0;
  }
  .radio{
    padding-bottom:5px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column: 5 / 8;
    grid-row: 4 / 6;
    background: #7C6F8B;
    border: 5px solid #62566F;
    border-right: 2.5 solid #62566F;
    border-radius: 10px 0px 0px 10px;
    min-width: 350px;
    max-width: 400px;
    z-index: 2;
  }
  .radioSide{
    z-index: 5;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(10px, auto));
    background: #7C6F8B;
    grid-column: 9 / 11;
    grid-row: 4 / 6;
    border: 5px solid #62566F;
    border-left: 10px solid #62566F;
    border-radius: 0px 0px 0px 0px;
    min-width: 100px;
  }
  .screwTop, .screwBottom{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #62566f;
  }
  .screwTop{
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .vent1, .vent2, .vent3{
    position: absolute;
    height: 8px;
    width: 60px;
    top: 30px;
    left: 25px;
    background: #62566f;
    position: absolute;
    
  }
  .vent2{
    top: 50px;
  }
  .vent3{
    top: 70px;
  }
  .screwBottom{
    position: absolute;
    top: 145px;
    left: 10px;
  }
  .radioInside{
    display: grid;
    grid-template-column: repeat(4, 1fr);
    margin: 10px;
    border: 5px solid #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    min-width: 290px;
  }
  .clock{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7C6F8B;
    background: linear-gradient(to left, #7c6f8b, #72566f);
    border: 5px solid #62566F;
    grid-column: 1 / 4 ;
    grid-row: 1 / 3;
    margin: 15px;
    border-radius: 10px;
    min-width: 200px;
  }
  .time{
    position: absolute;
    color: #64D5E2;
    font-size: 60px;
    text-shadow: 1px 1px 10px #62566F;
  }
  .shadow{
    grid-column: 4 / 12;
    grid-row: 5 / 8;
    background: #E7C7C8;
    border-radius: 100px;
    transform: rotateX(100deg) skewX(30deg);
   
  }
  .smoke{
    background:url('http://www.lachatica.com/site/assets/images/steam-1.png');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 10 / 13;
    grid-row: 1 / 4;
  }
  .coffee{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #7C6F8B;
    grid-column: 10 / 12;
    grid-row: 3 / 6;
    border-radius: 10px 10px 30px 30px;
    border: 5px solid #62566F;
  }
  
  .coffee span{
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 6px;
    font-size: 32px;
    color: #fff;
    text-shadow: 1px 1px 5px #62566F;
  }
  