.parent {
  display: grid;
  place-items: center;
  position: relative;
}

.bg {
  background-color: #009c37;
  width: 50rem;
  height: 30rem;
  z-index: -1;
}

.triangle {
  position: absolute;
  background-color: #fee000;
  width: 40rem;
  height: 22rem;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.ball {
  background-color: #002277;
  position: absolute;
  z-index: 2;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  animation-delay: 1s;
}
