* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(space4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  height: 100vh;
}

.route {
  animation: rotate 8s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.astroid {
  position: absolute;
  top: auto;
  left: 100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 10px black;
  animation: animateAstroide 30s linear infinite;
  background-size: cover;
  background-repeat: repeat-x;
}

#number1 {
  background: url(astroid.jpeg);
}

@keyframes animateAstroide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -150px 0;
  }
}

.moon {
  position: absolute;
  top: auto;
  left: auto;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url(moon3.webp);
  border-radius: 50%;
  background-size: cover;
  background-repeat: repeat-x;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 10px whitesmoke;
  animation: animateMoon 18s linear infinite;
}
@keyframes animateMoon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -750px 0;
  }
}
