body{
    margin: 0;
    padding: 0;
    background-color: skyblue;
    display: flex;
    width: 100vw;
    height: 100vh;
    --circle-size: 12vh;
    overflow: hidden
}
.cloud{
    top: 15vh;
    width: 20vw;
    height: 10vh;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    z-index:3
}
.cloud:first-child{
    top: 15vh;
    animation-name: moveit;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.cloud:nth-child(2){
    top: 28vh;
    animation-name: moveit;
    animation-duration: 12.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    left: -20vw;
}
.cloud:nth-child(3){
    top: 35vh;
    animation-name: moveit;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:  calc(var(--circle-size) / -2);
}
.circle:first-child{
    left: calc(var(--circle-size) / -3.5);
}
.circle:nth-child(2){
    top: calc(var(--circle-size) / -1.2);
    left: calc(var(--circle-size) / 2.5);
}
.circle:nth-child(3){
    --circle-size: 15vh;
    top: calc(var(--circle-size) / -1.1);
    left: calc(var(--circle-size) / 1.4)
}
.circle:nth-child(4){
    top: calc(var(--circle-size) / -1.3);
    left: calc(var(--circle-size) * 1.7)
}
.circle:nth-child(5){
    top: calc(var(--circle-size) / -2);
    left: calc(var(--circle-size) * 2.4)
}
.circle:nth-child(6){
    --circle-size: 16vh;
    top: calc(var(--circle-size) / -5);
    left: calc(var(--circle-size) * 1.7)
}
.circle:nth-child(7){
    top: calc(var(--circle-size) / 4);
    left: calc(var(--circle-size) * 1.7)
}
.circle:nth-child(8){
    --circle-size: 18vh;
    top: calc(var(--circle-size) / -5);
    left: calc(var(--circle-size) / 2)
}
.circle:nth-child(9){
    --circle-size: 13vh;
    top: calc(var(--circle-size) / 8);
    left: calc(var(--circle-size) / 3)
}
.grass{
    width: 120vw;
    height: 200vh;
    background-color: lightgreen;
    border-radius: 40%;
    top: 50vh;
    left: -10vw;
    position: absolute;
}
.tree{
    width: 1vw;
    height: 10vh;
    background-image: linear-gradient(to right, #804040, #800000, #804040);
    position: absolute;
    top:-5vh;
    left: 50vw;
    z-index: 2;
}
.tree:nth-child(2){
    left: 58vw;
    top: -2vh;
}
.tree:nth-child(3){
    left: 54vw;
    top: 8vh;
}
.oval{
    width: 5vw;
    height: 15vh;
    background-color: greenyellow;
    border-radius: 50%;
    top: -14vh;
    left: -2vw;
    position: absolute;
    box-shadow: 0 0 15px 5px greenyellow inset, 0 0 15px 10px green inset, 0 0 15px 20px rgb(86, 197, 86) inset, 0 0 15px 50px lightgreen inset
}

@keyframes moveit{
    0%{left:-30vw}
    100%{left:120vw}
}