body {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 5, 82);
}
.btn {
  background-color: black;
  position: absolute;
  top: 42%;
  left: 42%;
  padding: 20px 60px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(71, 96, 129);
  animation: flip 2s ease-in;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
.btn:hover {
  box-shadow: 0px 0px 45px rgb(71, 96, 129);
}
.btn h1 {
  text-align: center;
  color: rgb(65, 236, 222);
  font-family: "IM Fell Great Primer SC", serif;
  letter-spacing: 6px;
}

.btn span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, black, rgb(65, 236, 222));
  top: 0;
  left: 0;
  animation: glow1 2s linear infinite;
}
.btn span:nth-child(2) {
  position: absolute;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, black, rgb(65, 236, 222));
  right: 0;
  top: 0;
  animation: glow2 2s linear infinite;
}
.btn span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, black, rgb(65, 236, 222));
  bottom: 0;
  left: 0;
  animation: glow3 2s linear infinite;
}
.btn span:nth-child(4) {
  position: absolute;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, black, rgb(65, 236, 222));
  left: 0;
  bottom: 0;
  animation: glow4 2s linear infinite;
}

@keyframes glow1 {
  0% {
    transform: translate(-100%);
  }
  50% {
    transform: translate(100%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes glow2 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes glow3 {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes glow4 {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
