body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: #ddd;
  padding: 15rem;
}

.head {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 100px;
  width: 125px;
  border-radius: 50%;
  background-color: #8164A4;
  border: 3px solid black;
  border-bottom: none;
  z-index: 2;
}

.body {
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #8164A4;
  border: 3px solid black;
}

.hand {
  position: absolute;
  bottom: 50px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: #4EBFD2;
}

.hand-one {
  left: 10px;
}

.hand-two {
  right: 10px;
}

.leg {
  position: absolute;
  bottom : -30px;
  clip-path: ellipse(15% 50% at 50% 50%);
  height: 86px;
  width: 100px;
  background-color: black;
  padding: 3px 10px;
}

.leg::after {
  position: absolute;
  clip-path: ellipse(15% 50% at 50% 50%);
  height: 80px;
  width: 80px;
  background-color: #4EBFD2;
  content: '';
}

.leg-one {
  left: -40px;
  transform: rotateZ(-30deg);
}

.leg-two {
  right: -40px;
  transform: rotateZ(30deg);
}

.mouth {
  height: 18px;
  width: 25px;
  background-color: #4EBFD2;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eye {
  position: absolute;
  clip-path: ellipse(25% 50% at 50% 50%);
  height: 56px;
  width: 60px;
  background-color: black;
  padding: 3px 5px;
}

.eye::after {
  position: absolute;
  clip-path: ellipse(25% 50% at 50% 50%);
  height: 50px;
  width: 50px;
  background-color: #f775a3;
  content: '';
}

.eye-one {
  left: -10px;
  transform: rotateZ(30deg);
}

.eye-two {
  right: -10px;
  transform: rotateZ(-30deg);
}

.antenna {
  height: 100px;
  width: 10px;
  background-color: #00414E;
  border: 3px solid black;
  position: absolute;
  top: -90px;
  animation: swing 1s infinite;
  transform-origin: bottom;
}

.antenna::after {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  content: '';
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.antenna-one {
  left: 30%;
}

.antenna-two {
  right: 30%;
}

.wing-one {
  clip-path: polygon(0 65%, 100% 0, 90% 100%, 0% 100%);
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: #00414E;
  top: 150px;
}

.wing-one::after {
  clip-path: polygon(0 65%, 100% 0, 90% 100%, 0% 100%);
  height: 180px;
  width: 190px;
  position: absolute;
  background-color: #fff;
  content: '';
  top: 15px;
}

.wing-one-left {
  transform: rotateY(180deg);
  left: 20px;
}

.wing-one-right {
  right: 20px;
}

.wing-two {
  clip-path: polygon(0 65%, 100% 0, 90% 100%, 0% 100%);
  height: 130px;
  width: 130px;
  position: absolute;
  background-color: #00414e;
  transform: rotateX(180deg);
  bottom: 20px;
}

.wing-two-left {
  transform: rotateX(180deg) rotateY(180deg);
  left: 110px; 
}

.wing-two-right {
  right: 110px;
}

.wing-two::after {
  clip-path: polygon(0 65%, 100% 0, 90% 100%, 0% 100%);
  height: 110px;
  width: 120px;
  position: absolute;
  background-color: #fff;
  content: '';
  top: 15px;
}

@keyframes swing {

  0% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(-10deg);
  }
}