body {
  background-color: #efefef;
  /* background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.2),rgba($color-primary-dark, 0.2)); */
  /* padding: .5rem; */ }

*,
*::after,
*::before {
  margin: 0px;
  /*by default browsers apply some padding and margin*/
  padding: 0px;
  box-sizing: inherit; }

html {
  /*by specifying root font-size here in px, our user will not be able to change the default fony-size from the browser*/
  font-size: 62.5%;
}


body {
  /*all the typography stuffs of body element are in _typography.scss*/
  box-sizing: border-box;
  padding: .1rem;
  /* 900px */ }
  @media (max-width: 56.25em) {
    body {
      padding: .1; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

  .card {
  /* FUNCTIONALITY */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 44rem;
  /* FRONT SIDE STYLING */
  /* 900px */ }
  .card__side {
    height: 44rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    /*  image is overflowing the parent element */
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7700); }
      
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7700); }
    
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7700); }
    
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  