body {
  background-color: beige;
}

.bear {
  position: relative;
  display: block;
  margin: auto;
  border: 2px solid;
  background: white;
  width: 600px;
  height: 420px;
  margin-top: 8%;
}

.bear_head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  border: 2px solid;
  background: burlywood;
  border-radius: 50%;
}

.bear_head_copy {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: burlywood;
  border-radius: 50%;
  z-index: 2;
}

.left_ear {
  position: absolute;
  width: 40%;
  height: 50%;
  left: -10%;
  top: -10%;
  background-color: grey;
  border-radius: 50%;
  z-index: 1;
}
.right_ear {
  position: absolute;
  width: 40%;
  height: 50%;
  right: -10%;
  top: -10%;
  background-color: grey;
  border-radius: 50%;
  z-index: 1;
}

.inner_ear {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: rgb(92, 85, 85);
  border-radius: 50%;
  z-index: 1;
}

.left_eye {
  position: absolute;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  background-color: white;
  border-radius: 50%;
  z-index: 3;
}
.right_eye {
  position: absolute;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.pupil {
  position: absolute;
  height: 30%;
  width: 28%;
  top: 35%;
  left: 36%;
  background: black;
  border-radius: 50%;
}

.nose {
  position: absolute;
  background-color: brown;
  width: 25%;
  height: 42.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px;
  z-index: 4;
}
